$textColorPrimary: #383938;
$textColorSecondary: #6E6D7A;
$textColorTertiary: #B2B2B2;

$borderColor: #EDEEF3;
$primaryBackground: #FFFFFF;
$lightGrayBackground: #F5F6F9;

$black: #111111;
$lightPurple: #E6E4FF;
