$textColorPrimary: #383938;
$textColorSecondary: #6E6D7A;
$textColorTertiary: #B2B2B2;

$borderColor: #EDEEF3;
$primaryBackground: #FFFFFF;
$lightGrayBackground: #F5F6F9;

$black: #111111;
$lightPurple: #e8ecfb;
$purple: #5141B1;
$greenText: #13804B;
$lightGreen: #79DCAC;
$lightGreenBackground: #bff4d2;
