$textColorPrimary: #0d0c22;
$textColorSecondary: #6e6d7a;
$black: #111111;

$borderColor: #E2E1EB;

$primaryBackground: #ECF1F4;
$gold: #E6C475;
$purple : #DDD0DF;
$green : #AADFC0;
$blue : #BACCEA;



$subtlePurple: #9666EB;
$lightPurple: #C4AAF2;
$darkPurple: #7A4BCF;
$darkerPurple: #6A3BBF;
$orange : #784b98;
