$col-1: 8.56%;
$col-2: $col-1 * 2;
$col-3: $col-1 * 3;
$col-4: $col-1 * 4;
$col-5: $col-1 * 5;
$col-6: $col-1 * 6;
$col-7: $col-1 * 7;
$col-8: $col-1 * 8;
$col-9: $col-1 * 9;
$col-10: $col-1 * 10;
$col-11: $col-1 * 11;

$sectionPadding375: 6rem;
$sectionPadding768: 8rem;
$sectionPadding1200: 10rem;

section,
footer {
  overflow: hidden;
  padding: $sectionPadding375 0;
  position: relative;
  z-index: 10;
  @include overflowfix;
  background: $primaryBackground;

  &.bordered {
    border-top: 1px solid $borderColor;
    padding-top: 0;

    .content-wrapper {
      padding-top: $sectionPadding375;
    }
  }
}

.content-wrapper {
  @include overflowfix;
  max-width: 1440px;
  margin: 0 20px;
  position: relative;
  @include box-sizing;
}

@media screen and (min-width: 375px) {
  .content-wrapper {
    margin: 0 auto;
    width: 85%;
  }
}

@media screen and (min-width: 414px) {
  .content-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 500px) {

}

@media screen and (min-width:767px) {
  .content-wrapper {
    width: 88%;
  }

  section,
  footer {
    padding: $sectionPadding768 0;

    &.bordered {
      .content-wrapper {
        padding-top: $sectionPadding768;
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .display-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .left-content,
  .right-content {
    flex: 1;
  }

  .right-content {
    margin-left: 4%;
  }
}

@media screen and (min-width:1200px) {
  section {
    padding: $sectionPadding1200 0;

    &.bordered {
      .content-wrapper {
        padding-top: $sectionPadding1200;
      }
    }
  }
}
