@import "reset";
@import "mixins";
@import "colors";

$navDuration: .3s;
$menuDuration: 1200ms;

/**
 * Navigation
 */
.no-js  {
  #nav-links {
    opacity: 1;
    pointer-events: all;
  }

  nav {
    height: 200px;
  }

  #hamburger-icon {
    display :none;
  }
}

nav {
  position: relative;
  z-index: 9999;
  height: 56px;
  @include transition(height, .25s, ease-in-out);
}

#nav-links {
  margin-top: 3em;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity, .25s, ease-in-out);

  li {
    display: block;
    margin: 2em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a:link, a:visited {
    font-weight: 600;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $textColorSecondary;
    display: inline-block;
    @include transition(all, .25s, ease-in-out);

    &:hover,
    &.active {
      color: $textColorPrimary;
    }
  }
}

nav.active {
  height: 240px;

  #nav-links {
    transition-delay: 200ms;
    opacity: 1;
    pointer-events: all;
  }
}

#hamburger-icon {
  position: absolute;
  top: 0;
  right: 0%;
  width: 20px;
  height: 20px;
  z-index: 9999;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $textColorSecondary;
    opacity: 1;
    @include transition(all, .25s, ease-in-out);

    &.top {
      top: 20%;
    }
    &.middle {
      top: 50%;
    }
    &.bottom {
      top: 80%;
    }
  }

  &.active {
    span {
      top: 50%;
    }
    .top {
      @include rotate(45deg);
    }
    .bottom {
      @include rotate(-45deg);
    }
    .middle {
      opacity: 0;
    }
  }
}

.logo-link {
  margin-top: 2.5em;
  display: block;
}

@media screen and (min-width: 675px) {

}

@media screen and (min-width: 768px) {
  .no-js  {
    nav {
      height: auto;
    }
  }

  nav {
    position: relative;
    padding: 1.5em 0;
    text-align: right;
    height: auto;
  }

  #hamburger-icon {
    display: none;
  }

  #nav-links {
    margin-top: 0;
    opacity: 1;
    pointer-events: all;

    li {
      display: inline-block;
      margin: 0 0 0 2em;
    }
  }

  .logo-link {
    position: absolute;
    top: .9em;
    left: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {

}
