 /***
 *****************************
 **** Contact
 *****************************
 */

.form-container {
  display: block;
 }

.paragraphs {
  h1, h2, h3, p {
    text-align: left;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.4em;
    padding: 2em 0 .5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.button-style {
  background: $subtlePurple;
  padding: .15em .5em;
  margin: 0 .3em;
  border-radius: 3px;
}

.small-uppercase {
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $lightPurple;
  margin-bottom: .2em;
  font-size: .7em;
}

#contact-form {
  padding-top: 5em;

  h1 {
    margin-bottom: .4em;
    background-image: url(../images/accent_4.jpg);
    text-align: left;
    background-position: top left;
  }

  p {
    text-align: left;
  }

  .main-text {
    margin-top: 0;
  }

  .half-width.margin {
    width: 100%;
  }
}

form {
  display: block;
  margin: 2em auto 0 auto;
  width: 100%;
}

input, textarea, .selection {
  border: 2px solid $darkPurple;
  background: $darkPurple;
  @include border-radius(6px);
  font-size: 1.2em;
  font-family: "Avenir Next";
  color: #fff;
  padding: .5em .8em .6em;
  margin-bottom: 1em;
  outline: none;
  @include transition(all, .2s, ease-in-out);

  &::-webkit-input-placeholder {
    color: $lightPurple;
  }

  &:-moz-placeholder {
    color: $lightPurple;
  }

  &::-moz-placeholder {
    color: $lightPurple;
  }

  &:-ms-input-placeholder {
    color: $lightPurple;
  }

  &:placeholder-shown {
    color: $lightPurple;
  }

  &:focus {
    border-color: $darkerPurple;
    background-color: $darkerPurple;
  }

  &.required {
    background: #4a2184;
    border-color: #da3b7e;
  }

  &.submit {
    @extend .btn.secondary;
    border: 2px solid #59d5d3;
    border-bottom: 2px solid #43bbb9;
    padding: .7em 2.2em;
    color: white;
    display: inline-block;
    font-weight: 500;
    width: auto;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    cursor: pointer;
    @include transition(all, 100ms, ease-in-out);
  }
}

textarea {
  height: 200px;
}

label {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
  padding-top:.5em;
  color: white;
  display: block;
}

label, input, textarea, .selection {
  width: 100%;
  @include box-sizing;
  -webkit-appearance: none;
}

.selection {
  overflow: hidden;
  position: relative;
  padding: .5em 1em .5em 1em;
}

.selection select {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  width: 100%;
  font-family: "Avenir Next";
  font-weight: normal;
  font-size: 1em;
  color: $lightPurple;
}

.nubbin {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -8px;
  border-left: 2px solid $subtlePurple;
  border-bottom: 2px solid $subtlePurple;
  width: 8px;
  height: 8px;
  @include rotate(-45deg);
}

 /***
 *****************************
 **** FAQ
 *****************************
 */

#faq {
  padding-top: 5em;

  h1 {
    text-align: left;
  }

  .faq-list {
    padding-bottom: 2.5em;
  }

  .table-of-contents {
    padding-top: 2em;
  }
}

.table-of-contents {
  margin: 0 0 3em 0;
  font-size: 1em;

  a:link, a:visited {
    color: white;
    padding: .3em 0;
    display: inline-block;
    @include transition(all, .2s, ease-in-out);
  }

  a:hover {
    @include translate3d(5px, 0px, 0px);
    color: $lightPurple;
  }
}

.faq-list {
  clear: both;
    border-top: 1px solid $subtlePurple;

  h2 {
    margin-bottom: 1em;
    color: #444;
    font-weight: normal;
  }

  p {
    margin-bottom: 1em;
  }
}

.topic-list {
  padding-top: 0;
  margin-bottom: 0;
}

.qa-pair {
  padding: 1em 0 2em;
  font-size: 1em;

  &.highlight {
    .question {
      color: $lightPurple;
    }

    .question:before {
      color: $lightPurple;
    }
  }

  img {
    width: 100%;
    margin: 1em 0;
  }

  p {
    position: relative;
    text-align: left;
    z-index: 2;
    color: #D2BFF4;

    &.question {
      color: white;
      line-height: 1.3;
    }
  }

  ul {
    margin-bottom: 1em;
    
    &.mac {
      counter-reset: item;
    }

    &.numbered li {
      counter-increment: item;
      position: relative;
      padding-left: 1.4em;
      padding-bottom: .5em;

      &:before {
        content: counter(item)".";
        font-weight: normal;
        color: $lightPurple;
        position: absolute;
        left: 0;
        top: 0em;
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 .5em;
    float: none;
  }

  .keyboard-shortcuts {
    margin-top: 1em;

    li {
      position: relative;
      padding: 1.6em 0 1.6em 80px;
      vertical-align: top;
    }
  }

  .keyboard-shortcut {
    position: absolute;
    top: .4em;
    left: 0;
    font-size: 2em;
    color: $lightPurple;
  }

  .question:before {
    @include transition(color, 500ms, ease-in-out);
    font-weight: 100;
    text-align: center;
    font-size: 3em;
    position: absolute;
    top: 0em;
    left: -7px;
    color: $lightPurple;
    z-index: 1;
  }

  .question:before {
    content: "Q";
  }
}

.question {
  @include transition(color, 200ms, ease-in-out);
}

.question {
  padding-top: 100px;
  font-size: 1.5em;
}

.faq-wrap-up {
  padding-top: 3em;
  font-size: 1.2em;
  clear: both;
  text-align: center;

  a {
    margin-top: 2em;
    margin-left: 20px;
  }
}

#nav-links,
#social {
  text-align: center;

  li {
    padding: 1em;
    border-top: 1px solid $purple;
  }
}

#footer {
  background: $darkPurple;
}

#footer p {
  color: $lightPurple;
  font-size: .7em;
  margin-top: 2.5em;
}

 /***
 *****************************
 **** Support
 *****************************
 */

#support-contact-link {
  padding-top: 2em;
}

#support-topics {
  padding-bottom: 0;  

  p {
    margin: 1em 0;
  }

  ul {
    margin-top: 3em;
    width: 100%;

    li {
      display:block;
      margin: 0 0 1em;
      position: relative;

      &.active {
        a.support-topic-filter {
          background: #9767EF;
          color: white;
        }

        .topic-cancel-filter {
          display: block;
        }
      }
    }
  }
}

a.support-topic-filter:link,
a.support-topic-filter:visited {
  position: relative;
  display: block;
  @include border-radius(4px);
  background: $darkPurple;
  padding: 1em 0;
  width: 100%;
  color: #fff;
  padding-left: 60px;
  @include box-sizing;
  @include transition(all, 100ms, ease-in-out);

  img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: .8em;
    left: 1em;
    display: block;
  }
}

a.support-topic-filter:hover {
  background: $darkerPurple;
  color: white;
}

.topic-cancel-filter {
  display: none;
  background: white url(../images/close_icon_white.svg) center no-repeat;
  background-size: 30%;
  @include border-radius(50%);
  width: 34px;
  height: 34px;
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  right: -10px;
  top: -10px;
  z-index: 99;
  @include transition(background-color, 100ms, ease-in-out);

  &:hover {
    background-color: $lightPurple;
  }
}

.support-topic-list {
  margin-top: 4em;

  .table-of-contents {
    margin-top: 1em;
    margin-bottom: 3em;
  }

  h3 {
    text-align: left;
    padding-bottom: .3em;
    border-bottom: 1px solid $subtlePurple;
    font-size: 3em;

    a:link {
      margin-top: 1.5em;
      float: right;
      font-size: .3em;
      font-weight: normal;
    }
  }

  .faq-list {
    padding-top: 0;
    margin-top: 0;
    border: none;

    p {
      padding: 0 0 0 0;
    }

    p.answer:before {
      content: "";
    }

    p.question:before {
      content: "";
    }

    p.answer {
      padding-top: 0;
    }
  }
}

.back-to-top {
  display: none;
}

/***
*****************************
**** Change log
*****************************
*/

.revision-history {
  padding-top: 4em;

  h1 {
    padding-top: 0;
    text-align: center;
  }

  .header-img {
    display: block;
    width: 200px;
    margin: 0 auto 1em;
  }

  .change-log-tabs {
    margin-top: 4em;
    border: 1px solid #fff;
    overflow: hidden;
    @include border-radius(5px);
    float: left;
    text-align: center;
    width: 100%;

    li {
      float: left;
      width: 50%;
      display: inline-block;
    }

    a:link,
    a:visited {
      display: block;
      color: #fff;
      padding: .5em 1em;
      font-weight: bold;

      &.active {
        background: #fff;
        color: $purple;  
      }
    }

    a:hover {
      background: $darkPurple;
      color: white;
    }
  }

  .change-log {
    float: left;
    width: 100%;
    padding: 2em 0 0;

    h3 {
      text-align: left;
      padding: 0 0 .5em 0;
    }

    ul {
      margin-bottom: 4em;
    }

    li {
      position: relative;
      padding: .4em 0 .4em 20px;

      &:before {
        content: "•";
        position: absolute;
        font-size: .8em;
        left: 0;
        top: .6em;
      }
    }
  }
}

.features-rundown {
  h1, h2 {
    text-align: left;
  }

  h2 {
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $subtlePurple;
  }
}

.feature-group-icon {
  display: inline-block;
  margin-right: 12px;
  height: 22px;
}

.feature-group {
  padding-top: 40px;
  
  .block  {
    font-weight: bold;
  }

  li {
    display: inline-block;
    padding-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
  }

  p {
    text-align: left;
  }
}

.device-label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  font-size: .7em;
  color: $lightPurple;
}

#support-topics,
.features-list,
#faq,
#contact-form,
.paragraphs,
.revision-history {
  padding-top: 5em;
}

.features-intro {
  h1, p {
    text-align: center;
  }

  h1 {
    margin-bottom: 1em;
  }
}

.features-hero {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/**
 333333333333333   77777777777777777777555555555555555555 
3:::::::::::::::33 7::::::::::::::::::75::::::::::::::::5 
3::::::33333::::::37::::::::::::::::::75::::::::::::::::5 
3333333     3:::::3777777777777:::::::75:::::555555555555 
            3:::::3           7::::::7 5:::::5            
            3:::::3          7::::::7  5:::::5            
    33333333:::::3          7::::::7   5:::::5555555555   
    3:::::::::::3          7::::::7    5:::::::::::::::5  
    33333333:::::3        7::::::7     555555555555:::::5 
            3:::::3      7::::::7                  5:::::5
            3:::::3     7::::::7                   5:::::5
            3:::::3    7::::::7        5555555     5:::::5
3333333     3:::::3   7::::::7         5::::::55555::::::5
3::::::33333::::::3  7::::::7           55:::::::::::::55 
3:::::::::::::::33  7::::::7              55:::::::::55   
 333333333333333   77777777                 555555555     
 **/

@media screen and (min-width: 375px) {
  .faq-wrap-up {
    width: 80%;
    margin: 0 auto;
  }

}


/*
       444444444       000000000          000000000     
      4::::::::4     00:::::::::00      00:::::::::00   
     4:::::::::4   00:::::::::::::00  00:::::::::::::00 
    4::::44::::4  0:::::::000:::::::00:::::::000:::::::0
   4::::4 4::::4  0::::::0   0::::::00::::::0   0::::::0
  4::::4  4::::4  0:::::0     0:::::00:::::0     0:::::0
 4::::4   4::::4  0:::::0     0:::::00:::::0     0:::::0
4::::444444::::4440:::::0 000 0:::::00:::::0 000 0:::::0
4::::::::::::::::40:::::0 000 0:::::00:::::0 000 0:::::0
4444444444:::::4440:::::0     0:::::00:::::0     0:::::0
          4::::4  0:::::0     0:::::00:::::0     0:::::0
          4::::4  0::::::0   0::::::00::::::0   0::::::0
          4::::4  0:::::::000:::::::00:::::::000:::::::0
        44::::::44 00:::::::::::::00  00:::::::::::::00 
        4::::::::4   00:::::::::00      00:::::::::00   
        4444444444     000000000          000000000    
        */

@media screen and (min-width: 400px) {

}

/*
555555555555555555      000000000          000000000     
5::::::::::::::::5    00:::::::::00      00:::::::::00   
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00 
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00 
   55:::::::::55      00:::::::::00      00:::::::::00   
     555555555          000000000          000000000   
     */

@media screen and (min-width: 500px) {
  .back-to-top {
    display: inline-block;
  }

  .revision-history {
    .main-text {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .faq-wrap-up {
    width: 100%;
    margin: 0;
  }

}



/*
                                                     
77777777777777777777   66666666        888888888     
7::::::::::::::::::7  6::::::6       88:::::::::88   
7::::::::::::::::::7 6::::::6      88:::::::::::::88 
777777777777:::::::76::::::6      8::::::88888::::::8
           7::::::76::::::6       8:::::8     8:::::8
          7::::::76::::::6        8:::::8     8:::::8
         7::::::76::::::6          8:::::88888:::::8 
        7::::::76::::::::66666      8:::::::::::::8  
       7::::::76::::::::::::::66   8:::::88888:::::8 
      7::::::7 6::::::66666:::::6 8:::::8     8:::::8
     7::::::7  6:::::6     6:::::68:::::8     8:::::8
    7::::::7   6:::::6     6:::::68:::::8     8:::::8
   7::::::7    6::::::66666::::::68::::::88888::::::8
  7::::::7      66:::::::::::::66  88:::::::::::::88 
 7::::::7         66:::::::::66      88:::::::::88   
77777777            666666666          888888888     
*/

@media screen and (min-width: 768px) {
  .back-to-top {
    font-size: .5em;
  }

  .half-width {
    width: 51%;
    float: left;

    &.margin {
      width: 43%;
      margin-left: 6%;
    }
  }

  #contact-form {
    p {
      width: 60%;
    }

    h1, p {
      text-align: center;
      margin: 0 auto;
    }
  }

  .small-uppercase {
    font-size: 1em;
  }

  .table-of-contents a {
    font-size: 1.2em;
  }

  #faq {
    padding-bottom: 0;

    .half-width {
      width: 50%;

      &.margin {
        width: 40%;
        margin-left: 10%;
      }
    }

    .faq-list {
      padding-bottom: 8em;
    }

    .table-of-contents {
      padding-top: 0;
    }
  }

  #general-topic {
    padding-bottom: 6em;
  }

  #footer {
    padding: 4em 0;
    background: $darkerPurple;

    p {
      text-align: center;
    }
  }

  #nav-links,
  #social {
    text-align: center;

    li {
      display: inline-block;
      padding: 0 .5em;
      border: 0;
    }
  }

  #social {
    padding-top: 3em;
    font-size: .6em;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  .keyboard-shortcuts {
    margin-top: 1em;

    li {
      display: inline-block;
      width: 35%;
    }
  }

  .qa-pair .keyboard-shortcuts li {
    padding-left: 120px;
  }

  .qa-pair {
    font-size: 1.3em;

    .question::before {
      font-size: 120px;
    }
  }

  .question {
    padding-top: 180px;
  }

  .support-topic-list {
    h3 {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $subtlePurple;
    }
  }

  .support-topic-list .half-width {
    width: 100%;
    max-width: 720px;
  }

  .faq-wrap-up {
    padding: 0 0 3em;
    text-align: left;
    font-size: 1.3em;
    position: relative;

    a:link {
      font-size: .7em;
      margin-top: 0;
      margin-left: 20px;
    }
  }

  #contact-form {
    .half-width {
      width: 46%;

      &.margin {
        margin-left: 6%;
      }
    }

    h1 {
      margin-bottom: .4em;
    }

    form {
      padding-top: 48px;
      margin-top: 0;
    }

    input, textarea, .selection {
      font-size: 1.5em;
      padding: 1.5em 1.3em;
    }

    .btn {
      font-size: 1.2em;
      padding: 1em 3em;
      width: 200px;
      margin: 2em auto 0;
      display: block;
    }

    label {
      font-size: 2.5em;
      font-weight: 100;
      padding-top: 1em;
      margin-bottom: .4em;
    }

    .half-width.margin {
      float: left;
      width: 48%;
    }
  }

  #support-topics {
    h1 {
      .block {
        display: inline;
      }

      text-align: center;
    }

    .main-text {
      text-align: center;
      margin: .5em 0 1em;
    }

    ul {
      margin-top: 5em;

      li {
        float: left;
        margin: 0 0 1em;
        text-align: center;
        width: 49%;
        @include box-sizing;

        &.first, &.third, &.fifth {
          margin-right: 2%;
        }
      }
    }
  }

  a.support-topic-filter:link,
  a.support-topic-filter:visited {
    @include border-radius(10px);
    padding: 2em 0;
    width: 100%;
    padding-left: 0px;
    min-height: 160px;
    border-width: 4px;

    img {
      position: relative;
      width: 60px;
      top: auto;
      left: auto;
      height: 60px;
      margin: 0 auto 1em;
    }
  }

  .qa-pair {
    img {
      float: right;
      width: 30%;
      margin: 0 0 50px 50px;
    }
  }

  .revision-history {
    background: transparent url("../images/icon_bg.png") center 0 no-repeat;
    background-size: 1680px auto;

    h1 {
      padding-top: 0;
      text-align: center;
    }

    .change-log-tabs {
      width: 100%;
      margin-top: 4em;
      font-size: 1.2em;
      border: none;
      text-align: center;
      border-bottom: 1px solid $subtlePurple;
      @include border-radius(0px);

      li {
        width: 34%;
        float: none;
      }

      a:link,
      a:visited {
        padding: .9em 0 .8em;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: .8em;
        border-radius: 5px 5px 0px 0px;
        color: white;

        &.active {
          background: white;
          color: $purple;
        }
      }

      a:hover {
        background: $subtlePurple;
        color: white;
      }
    }

    .change-log {
      padding-top: 4em;
    }

    .main-text {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .header-img {
      width: 300px;
      margin-bottom: 1.4em;
    }
  }

  .features-rundown {
    h2 {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid $subtlePurple;
    }
  }

  .feature-group-icon {
    margin-right: 18px;
    height: 32px;
  }

  .feature-group {
    padding-top: 40px;

    .block  {
      font-weight: bold;
    }

    li {
      display: inline-block;
      width: 50%;
      padding: 0 60px 60px 0;
      box-sizing: border-box;
      vertical-align: top;
    }
  }

  .device-label {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: normal;
    font-size: .7em;
    color: $lightPurple;
  }

  #support-topics,
  .features-list,
  #faq,
  #contact-form,
  .paragraphs,
  .revision-history {
    padding-top: 10em;
  }

  .paragraphs {
    h1 {
      font-size: 5em;
    }

    h2 {
      font-size: 2em;
      margin-top: 1em;
    }
  }

  .features-hero {
    width: 90%;
    margin-bottom: 2em;
  }
}

/*
     888888888             66666666        000000000     
   88:::::::::88          6::::::6       00:::::::::00   
 88:::::::::::::88       6::::::6      00:::::::::::::00 
8::::::88888::::::8     6::::::6      0:::::::000:::::::0
8:::::8     8:::::8    6::::::6       0::::::0   0::::::0
8:::::8     8:::::8   6::::::6        0:::::0     0:::::0
 8:::::88888:::::8   6::::::6         0:::::0     0:::::0
  8:::::::::::::8   6::::::::66666    0:::::0 000 0:::::0
 8:::::88888:::::8 6::::::::::::::66  0:::::0 000 0:::::0
8:::::8     8:::::86::::::66666:::::6 0:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60::::::0   0::::::0
8::::::88888::::::86::::::66666::::::60:::::::000:::::::0
 88:::::::::::::88  66:::::::::::::66  00:::::::::::::00 
   88:::::::::88      66:::::::::66      00:::::::::00   
     888888888          666666666          000000000     
     */
@media screen and (min-width: 860px) {
  .half-width {
    width: 47%;

    &.margin {
      margin-left: 10%;
    }
  }
}

/*
     999999999       1111111        000000000     
   99:::::::::99    1::::::1      00:::::::::00   
 99:::::::::::::99 1:::::::1    00:::::::::::::00 
9::::::99999::::::9111:::::1   0:::::::000:::::::0
9:::::9     9:::::9   1::::1   0::::::0   0::::::0
9:::::9     9:::::9   1::::1   0:::::0     0:::::0
 9:::::99999::::::9   1::::1   0:::::0     0:::::0
  99::::::::::::::9   1::::l   0:::::0 000 0:::::0
    99999::::::::9    1::::l   0:::::0 000 0:::::0
         9::::::9     1::::l   0:::::0     0:::::0
        9::::::9      1::::l   0:::::0     0:::::0
       9::::::9       1::::l   0::::::0   0::::::0
      9::::::9     111::::::1110:::::::000:::::::0
     9::::::9      1::::::::::1 00:::::::::::::00 
    9::::::9       1::::::::::1   00:::::::::00   
   99999999        111111111111     000000000   
   */
@media screen and (min-width: 910px) {
  .half-width {
    width: 45%;

    &.margin {
      margin-left: 12%;
    }
  }
  
  #support-topics {
    ul {
      li {
        width: 32%;

        &.first, &.second, &.fourth, &.fifth {
          margin-right: 2%;
        }

        &.third, &.sixth {
          margin-right: 0;
        }
      }
    }
  }
}

/*
     999999999            66666666        000000000     
   99:::::::::99         6::::::6       00:::::::::00   
 99:::::::::::::99      6::::::6      00:::::::::::::00 
9::::::99999::::::9    6::::::6      0:::::::000:::::::0
9:::::9     9:::::9   6::::::6       0::::::0   0::::::0
9:::::9     9:::::9  6::::::6        0:::::0     0:::::0
 9:::::99999::::::9 6::::::6         0:::::0     0:::::0
  99::::::::::::::96::::::::66666    0:::::0 000 0:::::0
    99999::::::::96::::::::::::::66  0:::::0 000 0:::::0
         9::::::9 6::::::66666:::::6 0:::::0     0:::::0
        9::::::9  6:::::6     6:::::60:::::0     0:::::0
       9::::::9   6:::::6     6:::::60::::::0   0::::::0
      9::::::9    6::::::66666::::::60:::::::000:::::::0
     9::::::9      66:::::::::::::66  00:::::::::::::00 
    9::::::9         66:::::::::66      00:::::::::00   
   99999999            666666666          000000000     
   */
@media screen and (min-width: 960px) {
  #faq .half-width {
    width: 360px;
    margin-right: 60px;

    &.margin {
      margin-left: 0;
      width: 45%;
    }
  }

  .feature-group {
    li {
      width: 33%;
      padding: 0 60px 60px 0;
    }
  }
}


/*
  1111111        000000000      222222222222222        444444444  
 1::::::1      00:::::::::00   2:::::::::::::::22     4::::::::4  
1:::::::1    00:::::::::::::00 2::::::222222:::::2   4:::::::::4  
111:::::1   0:::::::000:::::::02222222     2:::::2  4::::44::::4  
   1::::1   0::::::0   0::::::0            2:::::2 4::::4 4::::4  
   1::::1   0:::::0     0:::::0            2:::::24::::4  4::::4  
   1::::1   0:::::0     0:::::0         2222::::24::::4   4::::4  
   1::::l   0:::::0 000 0:::::0    22222::::::224::::444444::::444
   1::::l   0:::::0 000 0:::::0  22::::::::222  4::::::::::::::::4
   1::::l   0:::::0     0:::::0 2:::::22222     4444444444:::::444
   1::::l   0:::::0     0:::::02:::::2                    4::::4  
   1::::l   0::::::0   0::::::02:::::2                    4::::4  
111::::::1110:::::::000:::::::02:::::2       222222       4::::4  
1::::::::::1 00:::::::::::::00 2::::::2222222:::::2     44::::::44
1::::::::::1   00:::::::::00   2::::::::::::::::::2     4::::::::4
111111111111     000000000     22222222222222222222     4444444444
*/
@media screen and (min-width: 1024px) {
  #faq .half-width {
    width: 45%;

    &.margin {
      margin-left: 0;
      margin-right: 0;
      width: 45%;
    }
  }

  #support-topics,
  .features-list,
  #faq,
  #contact-form,
  .paragraphs,
  .revision-history {
    padding-top: 12em;
  }

  .qa-pair  {
    padding: 120px 0 0;

    p {
      padding: 0 0 0 150px;
      font-size: 1em;

      &.question {
        font-size: 2em;
        padding-bottom: 0;
        line-height: 1.2;

        &::before {
          top: -20px;
          left: -20px;
          font-size: 120px;
          font-weight: 100;
        }
      }
    }
  }

  .faq-wrap-up {
    padding: 2em 0 2em;
  }

  .revision-history {
    .change-log-tabs {
      margin-top: 5em;
    }

    .change-log {
      padding-top: 5em;
    }
  }

  .features-rundown {
    h2 {
      padding-top: 1.5em;
    }
  }

  .feature-group {
    padding-bottom: 2em;
  }

}

/*
  1111111    222222222222222         888888888          000000000     
 1::::::1   2:::::::::::::::22     88:::::::::88      00:::::::::00   
1:::::::1   2::::::222222:::::2  88:::::::::::::88  00:::::::::::::00 
111:::::1   2222222     2:::::2 8::::::88888::::::80:::::::000:::::::0
   1::::1               2:::::2 8:::::8     8:::::80::::::0   0::::::0
   1::::1               2:::::2 8:::::8     8:::::80:::::0     0:::::0
   1::::1            2222::::2   8:::::88888:::::8 0:::::0     0:::::0
   1::::l       22222::::::22     8:::::::::::::8  0:::::0 000 0:::::0
   1::::l     22::::::::222      8:::::88888:::::8 0:::::0 000 0:::::0
   1::::l    2:::::22222        8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80::::::0   0::::::0
111::::::1112:::::2       2222228::::::88888::::::80:::::::000:::::::0
1::::::::::12::::::2222222:::::2 88:::::::::::::88  00:::::::::::::00 
1::::::::::12::::::::::::::::::2   88:::::::::88      00:::::::::00   
11111111111122222222222222222222     888888888          000000000   
*/
@media screen and (min-width: 1280px) {
  .revision-history {
    padding-top: 7em;
    
    .change-log-tabs {
      margin-top: 6em;
    }
  }

  #faq .half-width {

    &.margin {
      margin-left: 0;
    }
  }

  .feature-group {
    li {
      width: 25%;
    }
  }

  .faq-wrap-up {
    padding: 2em 0 0;
  }

  #support-topics,
  .features-list,
  #faq,
  #contact-form,
  .paragraphs,
  .revision-history {
    padding-top: 12em;
  }
}

@media screen and (min-width: 1420px) {
  #faq .half-width {
    width: 52%;

    &.margin {
      width: 38%;
    }
  }
}


