 @import "mixins";

 input, textarea, .selection {
   border: 3px solid transparent;
   background: white;
   @include border-radius(10px);
   font-size: 1.2em;
   color: $textColorPrimary;
   padding: 1em .8em 1em;
   outline: none;
   @include fontFamily;
   @include transition(border-color, .2s, ease-in-out);

   &::-webkit-input-placeholder {
     color: $textColorSecondary;
   }

   &:-moz-placeholder {
     color: $textColorSecondary;
   }

   &::-moz-placeholder {
     color: $textColorSecondary;
   }

   &:-ms-input-placeholder {
     color: $textColorSecondary;
   }

   &:placeholder-shown {
     color: $textColorSecondary;
   }

   &:focus {
     border-color: #94E5AA;

     &:hover {
       border-color: #94E5AA;
     }
   }

   &:hover {
     border-color: #94E5AA;
   }
 }

label, input, textarea, .selection {
  @include box-sizing;
  -webkit-appearance: none;
}

 /***
 *****************************
 **** Support
 ******************************/

 #support-topics {
   padding: 12em 3em;
   text-align: center;
   background: $lightGreenBackground;
   border-radius: 4px;

   h1 {
     font-size: 3em;
     padding-bottom: 1em;
     margin-bottom: 0;
   }

   input {
     width: 90%;
     margin: 0 auto;
     max-width: 400px;
   }
 }

.support .left-content h2,
.features .left-content h2 {
   padding-bottom: 2em;
}

 #support-input {
   display: inline-block;
   width: auto;
   padding: 1em 1em 1em 3em;
   font-size: 1.2em;
   margin: 0 auto 0;
   background: white url("../images/search_icon.svg") 1em center no-repeat;
   background-size: 27px 27px;
 }

.illustration-description {
  display: block;
  font-weight: 600;
  margin-bottom: 3em;
  box-sizing: border-box;
}

.support-table.emoji {
  padding-top: 3em;

  li {
    padding: 1.5em;
    box-sizing: border-box;
    line-height: 1.8;
    width: 100%;
    margin-bottom: 2em;
    color: $textColorPrimary;
  }
}

.results-label {
  display: block;
  text-align: center;
  margin-top: 2em;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.qa-pair.active .support-table.emoji {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.qa-pair a:link,
.qa-pair a:visited,
.feature-group a:link,
.feature-group a:link {
  font-weight: 600;
  color: $textColorSecondary;
}

.qa-pair a:hover,
.feature-group a:hover {
  color: $textColorTertiary;
}

/***
*****************************
**** Features
******************************/

.features-list {
  h1 {
    padding-bottom: 1em;
  }
}

.feature-group {
  padding: .6em 0 4em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:last-child {
    border: 0;
  }

  .block  {
    font-size: 1.4em;
    color: $textColorPrimary;
    padding: .25em 0 .5em;
    font-weight: 600;
  }

  li {
    margin: 0 0 2em 0;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    &.feature-image {
      width: 100%;
      position: relative;

      img {
        width: 100%;
      }
    }
  }
}

.features-list {
  .full-width {
    padding-bottom: 4em;
  }

  .content-wrapper {
    padding-top: 3em;
    border-top: 1px solid $borderColor;

    &:nth-child(2),
    &:nth-child(1) {
      border: 0;
      padding-top: 0;
    }
  }
}

.feature-label {
  padding: .7em 1em .6em;
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: .7em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include border-radius(3px);
  background-color: $black;
}

.device-label {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
  display: block;
  font-weight: 600;
  margin-top: 2em;
  color: $greenText;
}

/***
*****************************
**** URL Scheme
******************************/
#url-scheme-params {
  h1, h2, h3, p {
    text-align: left;
  }
}

.url-scheme,
.url-scheme-examples {
  h1 {
    font-size: 2em;
  }

  p {
    margin: 1em 0 4em;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 1em;
  }

  h3 {
    font-size: 1em;
    margin-top: 2em;
  }
}

.url-scheme {
  padding-bottom: 0;

  p {
    max-width: 560px;
  }
}

.url-scheme-examples {
  h2 {
    padding: 3em 0 1em;
  }

  h3 {
    padding-bottom: 1em;
  }
}

.gist {
  padding-bottom: 1em;
}

.url-params {
  border-top: 1px solid rgba(255,255,255,.1);

  li {
    position: relative;
    padding: 2em 0 2em 7em;
    border-bottom: 1px solid $borderColor;

    span {
      display: inline-block;
    }

    .param-description {
      display: block;
      font-weight: 600;
      margin-bottom: .5em;
      color: $textColorPrimary;
    }

    .param-label {
      margin: 0 auto;
    }

    .param-notes {
      line-height: 1.8;
      max-width: 400px;
    }
  }
}

.param-label {
  position: absolute;
  top: 2em;
  left: 0;
}

.url-scheme-examples {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .support .left-content h2,
  .features .left-content h2 {
    padding-bottom: 0;
  }

  .url-params {
    font-size: 1.1em;
  }

  .feature-group {
    li {
      padding: 0 5% 5em 0;
      width: 50%;

      &.col-2 {
        padding-right: 0;
        padding-left: 5%;
      }

      &.feature-image {
        padding-right: 0;
      }
    }
  }

  .features-list {
    h1 {
      padding: 0;
    }

    .left-content {
      margin-left: 0;
    }

    .right-content {
      margin-right: 0;
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .url-params {
    font-size: 1.25em;
  }

  .support-table.emoji {
    li {
      padding: 2em;
      width: 48%;
      margin-right: 2%;

      &:nth-child(even) {
        left: 5%;
        margin-right: 0;
      }
    }
  }
}
