@import "nav";
@import "pages";
@import "mixins";
@import "utilities";

html,
body {
  color: $textColorSecondary;
  font-size: 13px;
  background-color: $primaryBackground;
  @include fontFamily;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

body {
  counter-reset: item;
  @include aliasing;
}

a:link, a:visited {
  text-decoration: none;
  color: $textColorPrimary;
}

a:hover {
  color: $black;
}

h1, h2, h3, h4 {
  line-height: 1;
  color: $textColorPrimary;
}

p, li {
  line-height: 1.8;
}

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  @include translate3d(0px, 0px, 0px);
  opacity: 1;

  &.invisible {
    opacity: 0;
  }

  &.full-width {
    width: 100%;
  }
}

/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/

.content-wrapper {
  @include overflowfix;
  max-width: 1440px;
  width: 86%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.left-content,
.right-content {
  h2 {
    padding-bottom: 0.5em;
  }

  h3 {
    margin-bottom: 1.5em;
  }

  > p + p {
    margin-top: 1.5em;
  }

  > p + img {
    margin-top: 2em;
  }
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
$defaultTopPadding: 12em;
$mobileH3TopMargin: 1.5em;

.download-buttons {
  position: relative;
  height: 40px;
  width: 100px;
  padding-top: 2em;

  a {
    position: absolute;
    top: 2em;
    left: 0;
  }
}

.left-content p + img {
  margin-top: 4em;
}

.hero-container {
  position: relative;

  img {
    width: 100%;
  }

  .ios-content,
  .mac-content,
  .final-hero {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.introduction {
  padding-bottom: 0;
}

.intro-text {
  padding: $defaultTopPadding / 4 0;
}

.features-intro {
  padding: 16em 0;

  .right-content {
    margin-top: 1em;
  }

  p, h3 {
    font-size: 2em;
    letter-spacing: -1%;
    vertical-align: top;
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.task-creation {
  padding-top: 0;

  h3 {
    margin-top: $mobileH3TopMargin;
  }
}

.purpose-built-ui  {
  position: relative;
  overflow: visible;
  padding-top: 0;

  img {
    width: 220%;
    margin-left: -65%;

    &.mac-content {
      width: 120%;
      margin-left: -20%;
      padding-bottom: 4em;
    }
  }
}

.illustrations {
  img {
    margin: 2em 0 0;
  }
}

.privacy {
  h3 {
    margin-top: $mobileH3TopMargin;
  }
}

.highlighted-features {
  .content-wrapper {
    padding: $defaultTopPadding / 2 0 0;
    border-top: 1px solid $borderColor;
  }

  .button {
    margin-top: 2em;
  }

  .left-content {
    margin-bottom: 4em;
  }

  li {
    padding-bottom: 6em;

    &:last-child {
      padding-bottom: 0;
    }

    h4 {
      padding-top: 1em;
    }
  }
}

.press {
  .content-wrapper {
    padding: $defaultTopPadding 0 $defaultTopPadding / 2;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    text-align: center;
  }

  blockquote {
    font-size: 2.8em;
    letter-spacing: -0.04em;
    font-weight: bold;
    color: $textColorPrimary;
    position: relative;
  }

  cite {
    display: inline-block;
    padding: 2em 0;
    color: $textColorSecondary;
  }
}

.press-logos {
  text-align: center;
  padding: 6em 0 0;

  li {
    display: block;
    vertical-align: middle;
    margin: 2em 0;
    color: $textColorSecondary;

    img {
      height: 24px;
    }
  }
}

.conclusion {
  padding-top: 0;

  .content-wrapper {
    padding-bottom: 3em;
  }
}

footer {
  .content-wrapper {
    border-top: 1px solid $borderColor;
    padding: ($defaultTopPadding / 2) 0;
  }

  .copyright img {
    width: 200px;
    padding-bottom: 1em;
  }

  a:link, a:visited {
      color: $textColorSecondary;
  }

  a:hover {
    color: $textColorPrimary;
  }

  p, li {
    font-size: .87em;
  }

  div {
    vertical-align: top;
  }

  ul {
    vertical-align: top;
    padding-top: 2em;

    li {
      padding: .5em 0;

      &:first-child {
        font-weight: 600;
      }
    }

    a {
      display: block;
    }
  }
}

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * FAQ + Support
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.faq {
  > li {
    padding: 3em 0;
    border-bottom: 1px solid $borderColor;

    &:last-child {
      border: 0;
    }

    &:first-child {
      padding-top: .2em;
    }
  }
}

.question {
  font-size: 1.4em;
  display: block;
  position: relative;
  cursor: pointer;
  padding-right: 2em;

  .arrow {
    position: absolute;
    top: .5em;
    right: 0;
    transform: rotate(0deg);
    transition: transform 00ms ease-in-out;
  }
}

.answer {
  display: none;
  padding-top: 1em;
  color: $textColorSecondary;
  font-size: 1em;

  li {
    padding: .5em 0;
    position: relative;
  }

  &.bulleted {
    li {
      padding-left: 1em;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        top: .5em;
      }
    }
  }

  &.numbered {
    counter-reset: numbered-counter;

    li {
      padding-left: 2em;
      counter-increment: numbered-counter;

      &::before {
        content: counter(numbered-counter);
        position: absolute;
        left: 0;
        top: .5em;
      }
    }
  }
}

li.active .question {
  padding-bottom: 1.5em;
}

li.active .answer {
    display: block;
}

li.active .question .arrow {
  transform: rotate(180deg);
}

@media screen and (min-width: 475px) and (max-width: 767px) {
  .press-logos {
    li {
      display: inline-block;
      width: 45%;

      img {
        height: 24px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  /* Animation */
  $animationDuration: 800ms;
  $animationTranslation: 4em;

  .task-creation,
  .purpose-built-ui,
  .illustrations,
  .privacy {
    transition: opacity $animationDuration ease-in-out, transform $animationDuration ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.will-reveal {
      opacity: 0;
      transform: translate3d(0, $animationTranslation, 0);
    }
  }

  .highlighted-features {
    li {
      transition: opacity $animationDuration ease-in-out, transform $animationDuration ease-in-out;
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0;
        transform: translate3d(0, 0, 0);
      }

      &:nth-child(2) {
        transition-delay: 200ms;
        transform: translate3d(0, 2em, 0);
      }

      &:nth-child(3) {
        transition-delay: 400ms;
        transform: translate3d(0, 0, 0);
      }

      &:nth-child(4) {
        transition-delay: 600ms;
        transform: translate3d(0, 2em, 0);
      }
    }

    &.will-reveal li {
      opacity: 0;
      transform: translate3d(0, $animationTranslation, 0);

      &:nth-child(2),
      &:nth-child(4) {
        transition-delay: 600ms;
        transform: translate3d(0, $animationTranslation + 2em, 0);
      }
    }
  }

  .content-wrapper {
    width: 94%;

    &.display-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  .left-content,
  .right-content {
    p + img {
      margin-top: 9.4em;
    }

    h3 {
      margin-top: 1.2em;
    }
  }

  .left-content {
    width: 38%;
    flex: 1;
    margin: 0 2% 0 5%;
  }

  .right-content {
    width: 45%;
    margin: 0 5%;
  }

  .intro-text {
    padding: $defaultTopPadding / 6 0 $defaultTopPadding / 2;
    max-width: 540px;
  }

  .features-intro {
    padding: 20em 0;

    p, h3 {
      font-size: 2.5em;
    }

    h3 {
      margin-top: 0;
    }

    .left-content {
      width: 15%;
      margin: 0 0 0 10%;
    }

    .right-content {
      width: 50%;
      margin: 0 10% 0 0;
    }
  }

  .illustration {
    padding-top: 0;
  }

  .purpose-built-ui  {
    .left-content {
      padding: $defaultTopPadding / 2 0 0;
    }

    img {
      position: relative;
      top: 15%;
      width: 230%;

      &.mac-content {
        width: 200%;
        margin-left: -80%;
        padding-bottom: 6em;
        margin-top: 15%;
      }
    }
  }

  .illustrations {
    img {
      margin: 12em 0 0;
    }

    .left-content {
      padding: 0 0 6em;
      width: 40%;
      margin: 0 10%;

      img:nth-child(2) {
        margin-top: 8%;
        margin-left: 20%;
      }
    }

    .right-content {
      width: 40%;
      flex: 1;
      margin: 0 10% 0 0;
      padding-top: 0;

      img {
        width: 90%;
        margin-top: 8em;
      }
    }
  }

  .highlighted-features {
    .content-wrapper {
      padding-top: $defaultTopPadding;
    }

    .left-content {
      margin: 0;
      position: relative;

      .button {
        margin-top: 4em;
      }
    }

    .right-content {
      margin: 0 0 0 12%;
      width: 65%;

      li {
        width: 47.5%;
        display: inline-block;
        padding-bottom: 8em;

        &:nth-child(3),
        &:nth-child(4) {
          padding-bottom: 0;
        }

        &:nth-child(odd) {
          margin-right: 2.5%;
        }

        &:nth-child(even) {
          margin-left: 2.5%;
        }
      }
    }
  }

  .privacy {
    .left-content {
      width: 55%;
    }

    .right-content  {
      width: 25%;
      margin: 0 10%;

      img {
        width: 32px;
        height: 36px;
      }
    }
  }

  .press {
    .content-wrapper {
      padding: $defaultTopPadding * 2 0;
    }

    blockquote {
      font-size: 3.12em;
      letter-spacing: -.06em;
    }

    cite {
      padding: 2em 0;
    }
  }

  .press-logos {
    text-align: center;
    padding: 6em 0 0;

    li {
      display: inline-block;
      margin: 0 1em;

      img {
        height: 20px;
      }
    }
  }

  .conclusion {
    .content-wrapper {
      padding-bottom: $defaultTopPadding;
    }
  }

  footer {
    .content-wrapper {
      padding: ($defaultTopPadding / 2) 0;
    }

    div {
      width: 50%;
    }

    ul {
      width: 15%;
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  .purpose-built-ui  {
    img {
      &.mac-content {
        margin-top: 0%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    width: 90%;
  }

  .left-content {
    width: 38%;
    margin: 0 2% 0 10%;
  }

  .right-content {
    width: 40%;
    margin: 0 10%;
  }

  .illustrations {
    .left-content {
      img:nth-child(2) {
        margin-top: 8%;
        margin-left: 30%;
      }
    }

    .right-content {
      img {
        margin-left: 10%;
      }
    }
  }

  .purpose-built-ui  {
    img {
      top: 8%;
      width: 270%;
      margin-left: -80%;

      &.mac-content {
        width: 250%;
        max-width: 1280px;
        margin-left: -100%;
        padding-bottom: 6em;
        margin-top: 5%;
      }
    }
  }

  .press-logos {
    li {
      img {
        height: 24px;
      }
    }
  }

  footer {
    .copyright img {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }

  .purpose-built-ui  {
    img {
      top: 5%;
      width: 320%;
      margin-left: -110%;

      &.mac-content {
        margin-left: -95%;
        padding-bottom: 6em;
        margin-top: 20%;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .purpose-built-ui  {
    img {
      &.mac-content {
        margin-top: 0%;
      }
    }
  }
}
