html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  color: #444444;
  font-size: 1em;
  background-color: #9265b2;
  font-family: "Avenir Next", "Avenir Next W00", "Gill Sans", "Trebuchet MS", sans-serif; }

a:link, a:visited {
  text-decoration: none;
  color: #9265b2; }

a:hover {
  color: #ddbdf4; }

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
  color: #9265b2;
  font-weight: bold;
  line-height: 1.2; }
  h1:before, h2:before, h3:before, h4:before {
    -webkit-font-smoothing: subpixel-antialiased; }

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none; }

em {
  font-style: italic; }

.block {
  display: block; }

img {
  transition: opacity .6s ease-out, transform .6s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }

.details {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out; }
  .details.invisible {
    opacity: 0; }

::selection {
  background: #ddbdf4; }

::-moz-selection {
  background: #ddbdf4; }

/* Removed with JS*/
.hidden {
  display: none;
  height: 0; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/
.content-wrapper {
  max-width: 920px;
  width: 86%;
  margin: 0 auto;
  position: relative; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }

.main-text {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5; }

section {
  overflow: hidden;
  padding: 3em 0;
  background: white; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1em; }

.detail-header {
  text-transform: uppercase;
  margin: 0 0 .6em 0;
  font-size: 1.2em; }

.detail-description {
  display: block; }

.has-illustration {
  padding-top: 36px;
  background-size: 30px auto;
  background-repeat: no-repeat; }

/***
 *****************************
 **** NAV
 *****************************
 */
nav {
  background: #9265b2;
  color: white;
  position: relative;
  padding: .8em 0; }
  nav .content-wrapper {
    width: 100%; }
  nav h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    float: left;
    margin-left: 7%; }
    nav h2 a:link, nav h2 a:visited {
      color: white; }
    nav h2 a:hover {
      color: #ddbdf4; }
  nav ul {
    position: absolute;
    top: 100%;
    margin-top: .8em;
    width: 100%;
    left: 0%;
    background: #9265b2;
    height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 9998;
    transition: height .25s ease-in-out, opacity .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out, opacity .25s ease-in-out;
    -moz-transition: height .25s ease-in-out, opacity .25s ease-in-out;
    -ms-transition: height .25s ease-in-out, opacity .25s ease-in-out;
    -o-transition: height .25s ease-in-out, opacity .25s ease-in-out;
    padding-top: .2em; }
    nav ul.active {
      opacity: 1;
      height: 120px; }
      nav ul.active li {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px); }
    nav ul li {
      display: block;
      opacity: 0;
      text-align: center;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transform: translate3d(0px, -40px, 0px);
      -webkit-transform: translate3d(0px, -40px, 0px);
      -moz-transform: translate3d(0px, -40px, 0px);
      -ms-transform: translate3d(0px, -40px, 0px); }
      nav ul li.first {
        transition-delay: 0ms;
        -webkit-transition-delay: 0ms;
        -moz-transition-delay: 0ms;
        -ms-transition-delay: 0ms;
        -o-transition-delay: 0ms; }
      nav ul li.second {
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -ms-transition-delay: 100ms;
        -o-transition-delay: 100ms; }
    nav ul a:link, nav ul a:visited {
      transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      width: 86%;
      margin: 0 auto;
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      border-top: 1px solid #9a6dba;
      padding: 1em 0;
      color: white; }
      nav ul a:link.active, nav ul a:visited.active {
        color: #cba3e6; }
        nav ul a:link.active:hover, nav ul a:visited.active:hover {
          color: #ddbdf4; }
    nav ul a:hover {
      color: #ddbdf4; }

#intro-video {
  background: #f1f1f1;
  opacity: 0.0;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out; }
  #intro-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    margin-top: -84px;
    margin-left: -150px; }
  #intro-video.active {
    display: block;
    opacity: 1; }

#close-video-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 20px;
  height: 20px;
  z-index: 9998;
  background: #f1f1f1 url(../images/close_icon.svg) center center no-repeat;
  background-size: 20px auto;
  padding: 20px;
  text-indent: -9999px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  opacity: 0.9; }
  #close-video-btn:hover {
    background-image: url(../images/close_icon_hover.svg); }

#hamburger-icon {
  position: absolute;
  top: 50%;
  right: 7%;
  margin-top: -12px;
  width: 20px;
  height: 20px; }
  #hamburger-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #hamburger-icon span.top {
      top: 20%; }
    #hamburger-icon span.middle {
      top: 50%; }
    #hamburger-icon span.bottom {
      top: 80%; }
  #hamburger-icon.active span {
    top: 50%; }
  #hamburger-icon.active .top {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg); }
  #hamburger-icon.active .bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg); }
  #hamburger-icon.active .middle {
    opacity: 0; }

/***
 *****************************
 **** Intro Movie
 *****************************
 */
#intro-movie {
  position: relative;
  background: #3f155d url(../images/movie_frame.jpg) center center no-repeat;
  background-size: auto 100%;
  padding: 0;
  height: 340px;
  text-align: center; }
  #intro-movie video {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    display: none; }
  #intro-movie h2 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: -1em;
    z-index: 20;
    color: white; }
  #intro-movie .download-link {
    position: absolute;
    z-index: 20;
    color: white;
    bottom: 3em;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4;
    width: 100%; }
    #intro-movie .download-link a:link, #intro-movie .download-link a:visited {
      font-size: .8em;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      -ms-border-radius: 100px;
      background: #9265b2;
      padding: .7em 1.5em;
      color: white;
      display: inline-block;
      font-weight: 500;
      margin-top: 1em;
      transition: all 100ms ease-in-out;
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out; }
    #intro-movie .download-link a:hover {
      background: #784b98; }

#play-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  margin: -1em 0 0 -6.7em;
  z-index: 20;
  padding: 1em 0 1em 40px;
  background: transparent url(../images/play_icon.svg) left center no-repeat;
  background-size: 30px; }
  #play-btn:hover {
    color: #ddbdf4;
    background-image: url(../images/play_icon_hover.svg); }

/***
 *****************************
 **** Intro
 *****************************
 */
#introduction h1 {
  background-image: url(../images/accent_1.png); }

#doo-hero {
  width: 126%;
  margin: 2em 0 2em -13%;
  position: relative;
  z-index: 1; }

#simple-by-design {
  position: relative;
  z-index: 10; }

/***
 *****************************
 **** Mini Tour
 *****************************
 */
#mini-tour {
  padding-top: 2em; }
  #mini-tour li {
    text-align: center; }
    #mini-tour li:first-child {
      margin-bottom: 3em; }
  #mini-tour strong {
    display: block;
    margin-top: 1.5em;
    color: #9265b2;
    font-weight: bold; }
  #mini-tour p {
    margin: 0 auto;
    width: 60%; }

.card-demo {
  background: #f1f1f1;
  height: 130px;
  position: relative;
  display: block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px; }
  .card-demo .card {
    width: 70px;
    height: 100px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    background: #9265b2 url(../images/up_arrow.png) center no-repeat;
    background-size: 25% auto;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
    padding: 1px;
    -webkit-background-clip: content-box; }
    .card-demo .card.down {
      background-image: url(../images/down_arrow.png); }
    .card-demo .card span {
      width: 100%;
      height: 20%;
      position: absolute;
      top: 16%;
      left: 0;
      background: #6f478c;
      display: block; }
    .card-demo .card.up {
      top: -18px;
      transform: rotate3d(0, 0, 1, 5deg);
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      -moz-transform: rotate3d(0, 0, 1, 5deg);
      -ms-transform: rotate3d(0, 0, 1, 5deg); }
    .card-demo .card.down {
      bottom: -18px;
      transform: rotate3d(0, 0, 1, -3deg);
      -webkit-transform: rotate3d(0, 0, 1, -3deg);
      -moz-transform: rotate3d(0, 0, 1, -3deg);
      -ms-transform: rotate3d(0, 0, 1, -3deg); }

/***
 *****************************
 **** Extra Features
 *****************************
 */
#extra-features {
  padding: 4em 0 2em;
  background: #9265b2; }
  #extra-features .detail-header {
    text-transform: none; }
  #extra-features figure {
    width: 80%;
    margin: 2em auto 2em; }
    #extra-features figure .screenshot {
      width: 100%; }
  #extra-features h2 {
    display: block;
    margin-bottom: 1em;
    text-align: center;
    color: white; }
  #extra-features ul {
    text-align: center; }
    #extra-features ul li {
      width: 100%;
      margin-bottom: 4em; }
  #extra-features .detail-header,
  #extra-features .detail-description {
    color: white; }

/***
 *****************************
 **** Illustrations
 *****************************
 */
#illustrations {
  width: 100%; }
  #illustrations h2 {
    background-image: url(../images/accent_2.png); }
  #illustrations ul {
    margin: 3em 0 0 0;
    position: relative;
    z-index: 2; }
  #illustrations li img {
    width: 60px; }
  #illustrations .image-container {
    width: 140%;
    padding: 2em 0 0em 0;
    position: relative; }

#illustration-hero-1 {
  width: 66.9%;
  z-index: 1;
  position: relative;
  max-width: 739px;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out; }

#illustration-hero-2 {
  width: 51.8%;
  position: absolute;
  bottom: -35%;
  right: 0em;
  z-index: 2;
  max-width: 572px;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out; }

/***
 *****************************
 **** iCloud
 *****************************
 */
#icloud-sync .image-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 2em;
  z-index: 1; }
#icloud-sync h2 {
  background-image: url(../images/accent_3.png); }

#icloud-1 {
  width: 28%;
  position: absolute;
  bottom: 0;
  right: 7%;
  z-index: 10; }

#icloud-2 {
  width: 70%;
  margin-left: 7%;
  z-index: 1; }

/***
 *****************************
 **** More to Doo
 *****************************
 */
#more-to-doo {
  width: 100%;
  padding: 1em 0 0; }

.feature-set {
  width: 100%;
  overflow: hidden;
  padding: 4em 0;
  text-align: center; }
  .feature-set.gray {
    background: #f1f1f1; }
  .feature-set .feature-image {
    width: 70%;
    display: block;
    margin: 2em auto 0 auto; }
  .feature-set .icon {
    margin: 0 auto .5em;
    width: 30px;
    height: 30px;
    display: block; }
  .feature-set h3, .feature-set p {
    width: 82%;
    margin: 0 auto; }
  .feature-set h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
    font-weight: 400;
    color: #333; }
  .feature-set p {
    font-size: 1em; }

/***
*****************************
**** Conclusion
*****************************
*/
#conclusion a:link, #conclusion a:visited {
  float: left;
  background: #9265b2;
  color: white;
  font-weight: 500;
  font-size: .9em;
  padding: .9em 2em;
  margin-top: 1em;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  margin-left: 0%;
  margin-top: 2em;
  position: relative;
  z-index: 10;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out; }
#conclusion a:hover {
  background: #784b98; }
#conclusion .main-text {
  position: relative;
  z-index: 10; }

#conclusion-hero {
  position: relative;
  z-index: 1;
  width: 140%;
  margin: 2em 0 0em -20%; }

/***
*****************************
**** Footer
*****************************
*/
#footer {
  padding: 2em 0;
  font-size: .8em;
  background: #9265b2;
  text-align: center; }
  #footer .content-wrapper {
    padding-bottom: 1em; }
  #footer p {
    color: #e4caf7;
    font-size: .9em; }

#nav-links {
  margin-bottom: 2em; }
  #nav-links li {
    display: block;
    border-bottom: 1px solid #9b6dbc; }
  #nav-links a:link, #nav-links a:visited {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4caf7;
    padding: 1em 0; }
  #nav-links a:hover {
    color: #fff; }

#social li {
  display: inline-block;
  margin: 1em; }
#social a:link, #social a:visited {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-indent: -9999px;
  font-size: 0;
  background-image: url(../images/social_icons.png);
  background-repeat: no-repeat;
  background-size: 72px auto; }
#social .facebook-link {
  background-position: -24px -24px; }
  #social .facebook-link:hover {
    background-position: -24px 0; }
#social .twitter-link {
  background-position: -48px -24px; }
  #social .twitter-link:hover {
    background-position: -48px 0; }
#social .instagram-link {
  background-position: 0 -24px; }
  #social .instagram-link:hover {
    background-position: 0 0; }

/***
*****************************
**** Contact
*****************************
*/
#contact-form h1 {
  margin-bottom: .4em;
  background-image: url(../images/accent_4.jpg); }
#contact-form .main-text {
  margin-top: 0; }
#contact-form .half-width.margin {
  width: 100%; }

form {
  display: block;
  margin: 2em auto 0 auto;
  width: 100%; }

input, textarea, .selection {
  border: 2px solid #eaeaea;
  background: #fafafa;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  font-size: 1.2em;
  font-family: "Avenir Next";
  color: #444;
  padding: .5em .8em .6em;
  margin-bottom: 1em;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  input:focus, textarea:focus, .selection:focus {
    border-color: #9265b2; }
  input.required, textarea.required, .selection.required {
    background: #f6d2ec;
    border-color: #da95c7; }
    input.required::-webkit-input-placeholder, textarea.required::-webkit-input-placeholder, .selection.required::-webkit-input-placeholder {
      color: #af759f; }
    input.required:-moz-placeholder, textarea.required:-moz-placeholder, .selection.required:-moz-placeholder {
      color: #af759f; }
    input.required::-moz-placeholder, textarea.required::-moz-placeholder, .selection.required::-moz-placeholder {
      color: #af759f; }
    input.required:-ms-input-placeholder, textarea.required:-ms-input-placeholder, .selection.required:-ms-input-placeholder {
      color: #af759f; }
    input.required:placeholder-shown, textarea.required:placeholder-shown, .selection.required:placeholder-shown {
      color: #af759f; }
  input.submit, textarea.submit, .selection.submit {
    width: auto;
    background: #9265b2;
    color: white;
    border: none;
    padding: .9em 1.4em .8em 1.4em;
    cursor: pointer; }
    input.submit:hover, textarea.submit:hover, .selection.submit:hover {
      background: #784b98; }

textarea {
  height: 200px; }

label {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: .5em;
  color: #444;
  display: block; }

label, input, textarea, .selection {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none; }

.selection {
  overflow: hidden;
  position: relative;
  padding: .5em 1em .5em 1em; }

.selection select {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  width: 100%;
  font-family: "Avenir Next";
  font-weight: normal;
  font-size: 1em;
  color: #444; }

.nubbin {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -8px;
  border-left: 4px solid #b1b1b1;
  border-bottom: 4px solid #b1b1b1;
  width: 8px;
  height: 8px;
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg); }

/***
*****************************
**** FAQ
*****************************
*/
#faq {
  padding: 2em 0; }
  #faq h1 {
    padding-bottom: 1em;
    border-bottom: 6px solid #f1f1f1;
    background-image: url(../images/accent_1.png); }
  #faq h2 {
    margin-bottom: 1em;
    color: #444;
    font-weight: normal;
    font-size: 1.2em; }
  #faq p {
    margin: 1em 0; }

#table-of-contents {
  margin: 2em 0; }
  #table-of-contents a:link, #table-of-contents a:visited {
    color: #9265b2; }

.qa-pair {
  border: 1px solid #f1f1f1;
  padding: 2em 2em;
  margin-bottom: 2em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px; }

.question {
  font-weight: bold;
  font-size: 1.2em; }

@media screen and (min-width: 375px) {
  .content-wrapper {
    width: 82%; }

  nav a:link, nav a:visited {
    width: 82%; }
  nav h2 {
    margin-left: 9%; }

  #hamburger-icon {
    right: 9%; }

  #intro-movie {
    background-size: auto 100%;
    height: 500px; }
    #intro-movie h2 {
      top: 45%;
      font-size: 2.2em; }

  #play-btn {
    top: 50%; }

  #doo-hero {
    width: 114%;
    margin: 2em 0 1em -7%; } }
@media screen and (min-width: 400px) {
  #mini-tour {
    width: 100%;
    padding: 3em 0 2em; }
    #mini-tour ul {
      width: 70%;
      margin: 0 auto; }
    #mini-tour strong {
      font-size: 1.2em; }

  #illustrations ul {
    width: 65%;
    max-width: 800px; }

  #icloud-sync {
    padding-top: .6em; } }
@media screen and (min-width: 500px) {
  #extra-features ul li {
    width: 50%;
    margin: 0 auto 4em; }

  .feature-set .feature-image {
    width: 50%; }

  .feature-set h3, .feature-set p {
    width: 60%; }

  #intro-movie {
    height: 540px; }

  #intro-video video {
    width: 380px;
    height: auto;
    margin-top: -107px;
    margin-left: -190px; } }
@media screen and (min-width: 768px) {
  .has-illustration {
    padding-top: 48px;
    background-size: 40px auto; }

  .half-width {
    width: 48%;
    float: left; }
    .half-width.margin {
      margin-left: 4%; }

  .detail-header {
    font-size: 1.1em; }

  .detail-description {
    font-size: .9em; }

  h1 {
    font-size: 2.8em; }

  h2 {
    font-size: 2.8em; }

  h3 {
    font-size: 1.4em; }

  .main-text {
    font-size: 1.2em; }

  section {
    padding: 2.5em 0; }

  nav {
    padding: 1em 0; }
    nav .content-wrapper {
      width: 82%; }
    nav h2 {
      margin-left: 0;
      font-size: 1.2em; }
    nav ul {
      padding-top: 0;
      height: auto;
      float: right;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      width: auto;
      margin-top: 0;
      opacity: 1; }
      nav ul.active {
        height: auto; }
      nav ul li {
        opacity: 1;
        display: inline-block;
        margin-left: 3em;
        font-size: .8em;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px); }
      nav ul a:link, nav ul a:visited {
        width: auto;
        float: none;
        border: none;
        display: inline; }
      nav ul a:hover {
        background: transparent;
        color: #ddbdf4; }

  #intro-movie {
    background-size: 110% auto;
    height: 580px; }
    #intro-movie .block {
      display: inline;
      margin-right: .5em;
      margin-top: .4em; }
    #intro-movie .download-link a:link,
    #intro-movie .download-link a:visited {
      margin-top: 0; }

  #hamburger-icon {
    display: none; }

  #intro-video video {
    width: 640px;
    height: auto;
    margin-top: -180px;
    margin-left: -320px; }

  #doo-hero {
    width: 110%;
    margin: 2em 0 0 -5%; }
    #doo-hero.hidden {
      height: 600px;
      background: yellow; }

  #introduction .main-text {
    margin-top: 48px; }
  #introduction #simple-by-design {
    float: none;
    margin-top: -5em;
    width: 45%; }

  #mini-tour {
    width: 100%;
    padding: 3em 0; }
    #mini-tour ul {
      width: 90%; }
      #mini-tour ul li {
        font-size: 1em;
        width: 48%;
        text-align: left;
        float: left; }
        #mini-tour ul li .card-demo {
          width: 52%;
          float: left;
          height: 160px;
          margin: 0 7% 0 1%; }
          #mini-tour ul li .card-demo .card {
            width: 90px;
            height: 140px;
            margin-left: -45px; }
        #mini-tour ul li:first-child {
          margin-right: 4%;
          text-align: right; }
          #mini-tour ul li:first-child .card-demo {
            float: right;
            margin: 0 1% 0 7%; }
    #mini-tour p {
      width: auto; }
    #mini-tour strong {
      margin-top: 1em;
      font-size: 1.3em; }

  #extra-features {
    padding-top: 4em; }
    #extra-features:after {
      content: "";
      clear: both;
      display: block; }
    #extra-features h2 {
      margin-bottom: .5em; }
    #extra-features .detail-description {
      font-size: 1em; }
    #extra-features ul {
      width: 100%;
      text-align: left; }
      #extra-features ul li {
        margin-top: 0;
        float: left;
        width: 28%; }
        #extra-features ul li:first-child {
          margin-right: 7%; }
        #extra-features ul li:last-child {
          margin-left: 7%; }
        #extra-features ul li img.invisible {
          transform: translate3d(0px, 100px, 0px);
          -webkit-transform: translate3d(0px, 100px, 0px);
          -moz-transform: translate3d(0px, 100px, 0px);
          -ms-transform: translate3d(0px, 100px, 0px); }
        #extra-features ul li.app-extension-bullet img, #extra-features ul li.app-extension-bullet .details {
          transition-delay: 200ms;
          -webkit-transition-delay: 200ms;
          -moz-transition-delay: 200ms;
          -ms-transition-delay: 200ms;
          -o-transition-delay: 200ms; }
        #extra-features ul li.customize-bullet img, #extra-features ul li.customize-bullet .details {
          transition-delay: 400ms;
          -webkit-transition-delay: 400ms;
          -moz-transition-delay: 400ms;
          -ms-transition-delay: 400ms;
          -o-transition-delay: 400ms; }
      #extra-features ul figure {
        height: auto;
        background: transparent; }
        #extra-features ul figure img {
          width: 100%; }

  #illustrations {
    position: relative;
    padding-bottom: 17em; }
    #illustrations .main-text {
      margin-top: 48px; }
    #illustrations ul {
      width: 40%;
      position: absolute;
      left: 0;
      bottom: -6em; }
    #illustrations .image-container {
      float: left;
      width: 120%;
      max-width: 1220px;
      padding: 2em 0 3em 0; }
      #illustrations .image-container:after {
        content: "";
        clear: both;
        display: block; }

  #illustration-hero-2 {
    bottom: -27%; }

  #icloud-sync {
    width: 100%;
    margin: 0 auto;
    padding-top: 0em;
    position: relative; }
    #icloud-sync h2, #icloud-sync .main-text {
      width: 90%;
      margin-left: 0; }
    #icloud-sync .image-container {
      width: 120%;
      margin: 0 0 4em -56%; }
    #icloud-sync .half-width {
      position: absolute;
      top: 3em;
      left: 52%;
      margin: 0;
      z-index: 2; }

  #icloud-1 {
    width: 164px;
    left: 66%; }

  #icloud-2 {
    width: 409px;
    margin-left: 35%; }

  #icloud-1.invisible {
    transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -moz-transform: translate3d(-100px, 0px, 0px);
    -ms-transform: translate3d(-100px, 0px, 0px); }

  #icloud-2.invisible {
    transform: translate3d(-200px, 0px, 0px);
    -webkit-transform: translate3d(-200px, 0px, 0px);
    -moz-transform: translate3d(-200px, 0px, 0px);
    -ms-transform: translate3d(-200px, 0px, 0px); }

  .feature-set {
    height: 400px; }
    .feature-set .feature-description {
      position: absolute;
      left: 52%;
      width: 45%; }
    .feature-set .feature-image {
      position: absolute;
      left: 5%;
      width: 40%;
      display: block; }
    .feature-set.gray .feature-image {
      left: 52%; }
    .feature-set.gray .feature-description {
      left: 0%; }
    .feature-set .icon {
      margin: 7em auto .5em;
      width: 40px;
      height: 40px; }
    .feature-set h3, .feature-set p {
      width: 90%; }
    .feature-set h3 {
      font-size: 1.6em; }
    .feature-set p {
      font-size: 1.3em; }

  #extension-image.invisible,
  #threed-touch-image.invisible,
  #voiceover-image.invisible {
    transform: translate3d(0px, 100px, 0px);
    -webkit-transform: translate3d(0px, 100px, 0px);
    -moz-transform: translate3d(0px, 100px, 0px);
    -ms-transform: translate3d(0px, 100px, 0px); }

  #conclusion {
    padding-top: 5em; }
    #conclusion .wrapper {
      width: 86%; }
    #conclusion a:link, #conclusion a:visited {
      margin-left: 52%; }
    #conclusion .main-text {
      margin-top: 0; }

  #conclusion-hero {
    width: 120%;
    margin-left: -10%;
    margin-top: 4em; }

  #footer {
    padding: 2em 0 3em; }
    #footer .content-wrapper {
      padding: 0; }
    #footer p {
      margin-top: 1.5em; }

  #nav-links {
    margin-bottom: 0; }
    #nav-links li {
      display: inline-block;
      border: none;
      margin: 0 1em; }

  #social li {
    padding-top: 0;
    line-height: 0; }

  #faq {
    padding: 3em 0; }

  #contact-form .content-wrapper {
    padding: 1em 0 2em; }
  #contact-form h1 {
    margin-bottom: .4em; }
  #contact-form form {
    padding-top: 48px;
    margin-top: 0; }
  #contact-form input, #contact-form textarea, #contact-form .selection {
    font-size: 1.2em; }
  #contact-form label {
    font-size: 1em; }
  #contact-form .half-width.margin {
    float: left;
    width: 48%; } }
@media screen and (min-width: 920px) {
  #illustrations, #icloud-sync, #more-to-doo {
    max-width: none; }

  #icloud-1 {
    left: 70%; }

  #icloud-2 {
    margin-left: 40%; }

  #play-btn {
    top: 50%; } }
@media screen and (min-width: 1024px) {
  .detail-header {
    font-size: 1.3em; }

  .detail-description {
    font-size: 1.1em; }

  #more-to-doo .center {
    max-width: 750px; }

  .main-text {
    font-size: 1.4em; }

  h1 {
    font-size: 2.8em; }

  h2 {
    font-size: 2.8em; }

  h3 {
    font-size: 1.8em; }

  section {
    padding: 3em 0; }

  #intro-movie {
    background-size: 100% auto;
    height: 580px; }

  nav h2 {
    font-size: 1.4em; }
  nav ul {
    margin-top: .1em; }

  #intro-video video {
    width: 768px;
    height: auto;
    margin-top: -216px;
    margin-left: -384px; }

  #mini-tour {
    padding-bottom: 4.5em; }

  #extra-features {
    padding: 6em 0 3em; }

  #illustrations {
    padding-top: 4em;
    padding-bottom: 20em; }
    #illustrations ul {
      width: 35%;
      bottom: -7em; }
    #illustrations .image-container {
      padding-top: 4em; }

  #illustration-hero-2 {
    bottom: -28%; }

  #icloud-sync .image-container {
    margin-left: -45%;
    width: 110%; }
  #icloud-sync .half-width {
    width: 50%;
    top: 4em; }

  #icloud-1 {
    left: 65%; }

  #icloud-2 {
    margin-left: 35%; }

  .feature-set {
    height: 500px; }
    .feature-set h3, .feature-set p {
      width: 80%; }
    .feature-set .icon {
      margin-top: 9em;
      margin-bottom: 1em; }
    .feature-set h3 {
      font-size: 1.5em; }
    .feature-set p {
      font-size: 1.2em; }

  #conclusion {
    padding: 7em 0; }
    #conclusion a:link, #conclusion a:visited {
      font-size: 1em; } }
@media screen and (min-width: 1156px) {
  #icloud-1 {
    left: 65%; }

  #icloud-2 {
    margin-left: 40%; } }
@media screen and (min-width: 1280px) {
  section {
    padding: 5em 0; }

  #intro-movie h2 {
    font-size: 2.8em; }
  #intro-movie .download-link {
    font-size: 1.2em; }

  #play-btn {
    top: 50%;
    font-size: 1.2em; }

  .detail-header {
    font-size: 1.4em; }

  .detail-description {
    font-size: 1.1em; }

  .main-text {
    font-size: 1.5em; }

  h3 {
    font-size: 1.8em; }

  #more-to-doo .center {
    max-width: 670px; }

  #doo-hero {
    width: 1120px;
    margin: 3em 0 0 -96px; }

  #mini-tour {
    padding: 3em 0 6em; }
    #mini-tour ul li strong {
      font-size: 1.7em;
      margin-top: .5em; }
    #mini-tour ul li p {
      font-size: 1.1em; }

  #illustration-hero-2 {
    bottom: -30%; }

  #icloud-sync {
    padding: 0em 0 4em; }
    #icloud-sync .image-container {
      margin: 4em auto;
      max-width: 1080px; }
    #icloud-sync .half-width {
      top: 14em; }

  #icloud-1 {
    left: 25%;
    margin: 0;
    width: 210px; }

  #icloud-2 {
    margin-left: -16%;
    width: 550px; }

  .feature-set {
    height: 640px; }
    .feature-set h3, .feature-set p {
      width: 90%; }
    .feature-set .icon {
      margin-top: 11em; }
    .feature-set h3 {
      font-size: 1.9em; }
    .feature-set p {
      font-size: 1.4em; }

  #conclusion-hero {
    max-width: 1160px;
    margin-left: -136px;
    margin-top: 3em; }

  #footer {
    font-size: .9em; } }
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  background-image: url(../images/movie_frame@2x.jpg); }
