@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Navigation
 */
#platform-switch li:first-child a::after {
  content: "/";
  margin: 0 .5em;
  color: #B7B7BC; }

.nav-links li {
  margin-right: 1em; }
  .nav-links li:last-child {
    margin-right: 0; }

.support nav {
  border: 0; }

nav {
  padding: 1.5em 0 5em;
  position: relative;
  text-align: left;
  z-index: 9999;
  border-bottom: 1px solid #EDEEF3; }
  nav ul {
    position: absolute;
    top: 5em; }
    nav ul.left-align {
      left: 7%; }
    nav ul.right-align {
      right: 7%; }
    nav ul li {
      display: inline-block; }
  nav a:link, nav a:visited {
    font-size: 0.8em;
    color: #646370;
    display: inline-block;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    nav a:link:hover, nav a:link.active, nav a:visited:hover, nav a:visited.active {
      color: #0d0c22; }
    nav a:link.active, nav a:visited.active {
      font-weight: 600; }

@media screen and (min-width: 675px) {
  nav {
    padding: 1.5em 0;
    text-align: center; }
    nav a {
      margin-left: 0; }
    nav ul {
      top: 1.2em; }

  .nav-links li {
    margin-right: 1.5em; } }
@media screen and (min-width: 768px) {
  nav ul.left-align {
    left: 3%; }
  nav ul.right-align {
    right: 3%; } }
@media screen and (min-width: 1024px) {
  nav ul.left-align {
    left: 5%; }
  nav ul.right-align {
    right: 5%; } }
/***
*****************************
**** Contact
*****************************
*/
input, textarea, .selection {
  border: 4px solid transparent;
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  font-size: 1.2em;
  color: #0d0c22;
  padding: 1em .8em 1em;
  outline: none;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .selection::-webkit-input-placeholder {
    color: #646370; }
  input:-moz-placeholder, textarea:-moz-placeholder, .selection:-moz-placeholder {
    color: #646370; }
  input::-moz-placeholder, textarea::-moz-placeholder, .selection::-moz-placeholder {
    color: #646370; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, .selection:-ms-input-placeholder {
    color: #646370; }
  input:placeholder-shown, textarea:placeholder-shown, .selection:placeholder-shown {
    color: #646370; }
  input:focus, textarea:focus, .selection:focus {
    border-color: #C8CAD0; }
    input:focus:hover, textarea:focus:hover, .selection:focus:hover {
      border-color: #C8CAD0; }
  input:hover, textarea:hover, .selection:hover {
    border-color: #E7E9EE; }

label, input, textarea, .selection {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none; }

/***
*****************************
**** Support
******************************/
#support-topics {
  padding: 12em 0;
  text-align: center;
  background: #F5F6F9;
  border-radius: 4px; }
  #support-topics h1 {
    font-size: 3em;
    padding-bottom: 1em;
    margin-bottom: 0; }

#support-input {
  display: inline-block;
  width: auto;
  padding: 1em 1em 1em 3em;
  font-size: 1.2em;
  margin: 0 auto 0;
  background: white url("../images/search_icon.svg") 1em center no-repeat;
  background-size: 27px 27px; }

.illustration-description {
  display: block;
  margin-bottom: .3em; }

.support-table.emoji {
  padding-top: 3em; }
  .support-table.emoji li {
    padding: 1em 0; }

.results-label {
  display: block;
  text-align: center;
  margin-top: 2em;
  opacity: 0; }
  .results-label.active {
    opacity: 1; }

/***
*****************************
**** Features
******************************/
.features-list h1 {
  padding-bottom: 1em; }

.feature-group {
  padding: 0 0 4em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .feature-group:last-child {
    border: 0; }
  .feature-group .block {
    font-size: 1.4em;
    color: #0d0c22;
    padding: .25em 0 .5em; }
  .feature-group li {
    margin: 0 0 2em 0;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }
    .feature-group li.feature-image {
      width: 100%;
      position: relative; }
      .feature-group li.feature-image img {
        width: 100%; }

.features-list .content-wrapper {
  padding-top: 3em;
  border-top: 1px solid #EDEEF3; }
  .features-list .content-wrapper:nth-child(2), .features-list .content-wrapper:nth-child(1) {
    border: 0; }

.feature-label {
  padding: .5em 1.2em .4em;
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: .6em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #111111; }

.device-label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7em;
  display: block;
  margin-top: 1em;
  color: #646370; }

/***
*****************************
**** URL Scheme
******************************/
#url-scheme-params h1, #url-scheme-params h2, #url-scheme-params h3, #url-scheme-params p {
  text-align: left; }

.url-scheme h1,
.url-scheme-examples h1 {
  font-size: 2em; }
.url-scheme p,
.url-scheme-examples p {
  margin: 1em 0 4em; }
.url-scheme h2,
.url-scheme-examples h2 {
  font-size: 1.4em;
  margin-top: 1em; }
.url-scheme h3,
.url-scheme-examples h3 {
  font-size: 1em;
  margin-top: 2em; }

.url-scheme {
  padding-bottom: 0; }
  .url-scheme p {
    max-width: 560px; }

.url-scheme-examples h2 {
  padding: 3em 0 1em; }
.url-scheme-examples h3 {
  padding-bottom: 1em; }

.gist {
  padding-bottom: 1em; }

.url-params {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .url-params li {
    position: relative;
    padding: 2em 0 2em 7em;
    border-bottom: 1px solid #EDEEF3; }
    .url-params li span {
      display: inline-block; }
    .url-params li .param-description {
      display: block;
      color: #0d0c22; }
    .url-params li .param-label {
      font-size: 1em;
      margin: 0 auto; }

.param-label {
  position: absolute;
  top: 2em;
  left: 0; }

.url-scheme-examples {
  padding-top: 0; }

@media screen and (min-width: 768px) {
  .feature-group li {
    margin: 0 10% 5em 0;
    width: 40%; }

  .features-list h1 {
    padding: 0; }
  .features-list .left-content {
    margin-left: 0; }
  .features-list .right-content {
    margin-right: 0;
    width: 60%; } }
li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.optional-new-line {
  display: inline; }

/**
 * No Script States
 */
.no-js .answer {
  display: block; }
.no-js .question .arrow,
.no-js .invisible {
  display: none; }
.no-js .introduction .large-text {
  padding-top: 12em; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

::selection {
  background: #E6E4FF; }

::-moz-selection {
  background: #E6E4FF; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

.ios-content,
.mac-content {
  transition: opacity 400ms ease-in-out; }

.ios-platform .ios-content {
  display: block; }
.ios-platform .mac-content {
  display: none; }

.mac-platform .ios-content {
  display: none; }
.mac-platform .mac-content {
  display: block; }

.ios-platform-transition-in .ios-content {
  opacity: 1; }

.mac-platform-transition-in .mac-content {
  opacity: 1; }

.ios-platform-transition-out .ios-content {
  opacity: 0;
  z-index: 2; }
.ios-platform-transition-out .mac-content {
  z-index: 1;
  display: block; }
.ios-platform-transition-out .app-store-badge.ios-content {
  transform: translate3d(10px, 0, 0); }
.ios-platform-transition-out .app-store-badge.mac-content {
  transform: translate3d(-10px, 0, 0);
  opacity: 0; }

.mac-platform-transition-out .mac-content {
  z-index: 2;
  opacity: 0; }
.mac-platform-transition-out .ios-content {
  z-index: 1;
  display: block; }
.mac-platform-transition-out .app-store-badge.mac-content {
  transform: translate3d(10px, 0, 0); }
.mac-platform-transition-out .app-store-badge.ios-content {
  transform: translate3d(-10px, 0, 0);
  opacity: 0; }

.app-store-badge {
  transition: transform 400ms ease-in-out, opacity 400ms;
  transform: translate3d(0, 0, 0); }

/** Global Elements **/
section {
  overflow: hidden;
  padding: 3em 0; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1, h2.large {
  font-size: 2.6em;
  line-height: 1em;
  letter-spacing: -.06em; }

h2 {
  font-size: 2em;
  letter-spacing: -.05em; }

h3 {
  font-size: 1.8em;
  letter-spacing: -.04em; }

p {
  font-size: 1em;
  line-height: 1.7; }

.caption {
  padding-top: 1em;
  font-size: 0.9em;
  max-width: 240px;
  color: #646370; }

.large-text {
  font-size: 1.5em;
  line-height: 1.5;
  display: inline-block; }

code {
  font-family: monospace;
  padding: 3px 6px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px; }

.button-style {
  background: #F5F6F9;
  padding: 3px;
  margin: 0 .3em;
  border-radius: 3px;
  font-size: .8em; }

img.icon {
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: 0 .3em;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: inline-block; }

.keyboard-shortcut {
  font-weight: bold;
  width: 4em;
  display: inline-block; }

.button {
  padding: 1.5em 2em;
  border-radius: .3em;
  display: inline-block;
  font-size: .9em;
  color: #0d0c22;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transform: translateY(0px);
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out; }
  .button.primary {
    background-color: #111111;
    color: white;
    border-radius: 3em; }
  .button.bordered {
    border: 2px solid #EDEEF3; }
  .button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); }

.app-store-badge {
  display: inline-block; }

.paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs p {
  text-align: left;
  margin-bottom: 1em; }
.paragraphs h1 {
  font-size: 2.8em;
  margin-bottom: 3em; }
.paragraphs h2 {
  font-size: 2em; }
.paragraphs p {
  margin-bottom: 1em;
  max-width: 640px; }
.paragraphs p + h2 {
  padding-top: 2em; }

.mobile {
  display: block; }

.desktop {
  display: none; }

.centered {
  text-align: center; }

@media screen and (min-width: 768px) {
  .mobile {
    display: none; }

  .desktop {
    display: block; }

  .button {
    padding: 2em 3em; }

  section {
    padding: 6em 0; }

  h1, h2.large {
    font-size: 2.8em;
    letter-spacing: -.06em; }

  h2 {
    font-size: 2.2em;
    letter-spacing: -.04em; }

  h3 {
    font-size: 1.8em; }

  p {
    font-size: 1.1em; } }
@media screen and (min-width: 1024px) {
  .optional-new-line {
    display: block; }

  h1, h2.large {
    font-size: 3.2em;
    letter-spacing: -.06em; }

  h2 {
    font-size: 2.5em;
    letter-spacing: -.04em; }

  h3 {
    font-size: 2.2em; }

  p {
    font-size: 1.25em; }

  .caption {
    font-size: 0.75em; } }
html,
body {
  color: #646370;
  font-size: 13px;
  background-color: #FFFFFF;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden; }

body {
  counter-reset: item;
  -webkit-font-smoothing: antialiased; }
  body:before {
    -webkit-font-smoothing: subpixel-antialiased; }

a:link, a:visited {
  text-decoration: none;
  color: #0d0c22; }

a:hover {
  color: #111111; }

h1, h2, h3, h4 {
  line-height: 1;
  color: #0d0c22; }

p, li {
  line-height: 1.8; }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }
  img.full-width {
    width: 100%; }

/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/
.content-wrapper {
  max-width: 1440px;
  width: 86%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }

.left-content h2,
.right-content h2 {
  padding-bottom: 0.5em; }
.left-content h3,
.right-content h3 {
  margin-bottom: 1.5em; }
.left-content > p + p,
.right-content > p + p {
  margin-top: 1.5em; }
.left-content > p + img,
.right-content > p + img {
  margin-top: 2em; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.download-buttons {
  position: relative;
  height: 40px;
  width: 100px;
  padding-top: 2em; }
  .download-buttons a {
    position: absolute;
    top: 2em;
    left: 0; }

.left-content p + img {
  margin-top: 4em; }

.hero-container {
  position: relative; }
  .hero-container img {
    width: 100%; }
  .hero-container .ios-content,
  .hero-container .mac-content,
  .hero-container .final-hero {
    position: absolute;
    top: 0;
    left: 0; }

.introduction {
  padding-bottom: 0; }

.intro-text {
  padding: 3em 0; }

.features-intro {
  padding: 16em 0; }
  .features-intro .right-content {
    margin-top: 1em; }
  .features-intro p, .features-intro h3 {
    font-size: 2em;
    letter-spacing: -1%;
    vertical-align: top;
    line-height: 1.4;
    margin-bottom: 0; }

.task-creation {
  padding-top: 0; }
  .task-creation h3 {
    margin-top: 1.5em; }

.purpose-built-ui {
  position: relative;
  overflow: visible;
  padding-top: 0; }
  .purpose-built-ui img {
    width: 220%;
    margin-left: -65%; }
    .purpose-built-ui img.mac-content {
      width: 120%;
      margin-left: -20%;
      padding-bottom: 4em; }

.illustrations img {
  margin: 2em 0 0; }

.privacy h3 {
  margin-top: 1.5em; }

.highlighted-features .content-wrapper {
  padding: 6em 0 0;
  border-top: 1px solid #EDEEF3; }
.highlighted-features .button {
  margin-top: 2em; }
.highlighted-features .left-content {
  margin-bottom: 4em; }
.highlighted-features li {
  padding-bottom: 6em; }
  .highlighted-features li:last-child {
    padding-bottom: 0; }
  .highlighted-features li h4 {
    padding-top: 1em; }

.press .content-wrapper {
  padding: 12em 0 6em;
  border-top: 1px solid #EDEEF3;
  border-bottom: 1px solid #EDEEF3;
  text-align: center; }
.press blockquote {
  font-size: 2.8em;
  letter-spacing: -0.04em;
  font-weight: bold;
  color: #0d0c22;
  position: relative; }
.press cite {
  display: inline-block;
  padding: 2em 0;
  color: #646370; }

.press-logos {
  text-align: center;
  padding: 6em 0 0; }
  .press-logos li {
    display: block;
    vertical-align: middle;
    margin: 2em 0;
    color: #646370; }
    .press-logos li img {
      height: 24px; }

.conclusion {
  padding-top: 0; }
  .conclusion .content-wrapper {
    padding-bottom: 3em; }

footer .content-wrapper {
  border-top: 1px solid #EDEEF3;
  padding: 6em 0; }
footer .copyright img {
  width: 200px;
  padding-bottom: 1em; }
footer a:link, footer a:visited {
  color: #646370; }
footer a:hover {
  color: #0d0c22; }
footer p, footer li {
  font-size: .87em; }
footer div {
  vertical-align: top; }
footer ul {
  vertical-align: top;
  padding-top: 2em; }
  footer ul li {
    padding: .5em 0; }
    footer ul li:first-child {
      font-weight: 600; }
  footer ul a {
    display: block; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * FAQ + Support
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.faq > li {
  padding: 3em 0;
  border-bottom: 1px solid #EDEEF3; }
  .faq > li:last-child {
    border: 0; }
  .faq > li:first-child {
    padding-top: .2em; }

.question {
  font-size: 1.4em;
  display: block;
  position: relative;
  cursor: pointer;
  padding-right: 2em; }
  .question .arrow {
    position: absolute;
    top: .5em;
    right: 0;
    transform: rotate(0deg);
    transition: transform 00ms ease-in-out; }

.answer {
  display: none;
  padding-top: 1em;
  color: #646370;
  font-size: 1em; }
  .answer li {
    padding: .5em 0;
    position: relative; }
  .answer.bulleted li {
    padding-left: 1em; }
    .answer.bulleted li::before {
      content: "•";
      position: absolute;
      left: 0;
      top: .5em; }
  .answer.numbered {
    counter-reset: numbered-counter; }
    .answer.numbered li {
      padding-left: 2em;
      counter-increment: numbered-counter; }
      .answer.numbered li::before {
        content: counter(numbered-counter);
        position: absolute;
        left: 0;
        top: .5em; }

li.active .question {
  padding-bottom: 1.5em; }

li.active .answer {
  display: block; }

li.active .question .arrow {
  transform: rotate(180deg); }

@media screen and (min-width: 475px) and (max-width: 767px) {
  .press-logos li {
    display: inline-block;
    width: 45%; }
    .press-logos li img {
      height: 24px; } }
@media screen and (min-width: 768px) {
  /* Animation */
  .task-creation,
  .purpose-built-ui,
  .illustrations,
  .privacy {
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0); }
    .task-creation.will-reveal,
    .purpose-built-ui.will-reveal,
    .illustrations.will-reveal,
    .privacy.will-reveal {
      opacity: 0;
      transform: translate3d(0, 4em, 0); }

  .highlighted-features li {
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
    opacity: 1; }
    .highlighted-features li:nth-child(1) {
      transition-delay: 0;
      transform: translate3d(0, 0, 0); }
    .highlighted-features li:nth-child(2) {
      transition-delay: 200ms;
      transform: translate3d(0, 2em, 0); }
    .highlighted-features li:nth-child(3) {
      transition-delay: 400ms;
      transform: translate3d(0, 0, 0); }
    .highlighted-features li:nth-child(4) {
      transition-delay: 600ms;
      transform: translate3d(0, 2em, 0); }
  .highlighted-features.will-reveal li {
    opacity: 0;
    transform: translate3d(0, 4em, 0); }
    .highlighted-features.will-reveal li:nth-child(2), .highlighted-features.will-reveal li:nth-child(4) {
      transition-delay: 600ms;
      transform: translate3d(0, 6em, 0); }

  .content-wrapper {
    width: 94%; }
    .content-wrapper.display-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }

  .left-content p + img,
  .right-content p + img {
    margin-top: 9.4em; }
  .left-content h3,
  .right-content h3 {
    margin-top: 1.2em; }

  .left-content {
    width: 38%;
    flex: 1;
    margin: 0 2% 0 5%; }

  .right-content {
    width: 45%;
    margin: 0 5%; }

  .intro-text {
    padding: 2em 0 6em;
    max-width: 540px; }

  .features-intro {
    padding: 20em 0; }
    .features-intro p, .features-intro h3 {
      font-size: 2.5em; }
    .features-intro h3 {
      margin-top: 0; }
    .features-intro .left-content {
      width: 15%;
      margin: 0 0 0 5%; }
    .features-intro .right-content {
      width: 50%;
      margin: 0 10% 0 0; }

  .illustration {
    padding-top: 0; }

  .purpose-built-ui .left-content {
    padding: 6em 0 0; }
  .purpose-built-ui img {
    position: relative;
    top: 15%;
    width: 230%; }
    .purpose-built-ui img.mac-content {
      width: 200%;
      margin-left: -80%;
      padding-bottom: 6em;
      margin-top: 15%; }

  .illustrations img {
    margin: 12em 0 0; }
  .illustrations .left-content {
    padding: 0 0 6em;
    width: 40%;
    margin: 0 10%; }
    .illustrations .left-content img:nth-child(2) {
      margin-top: 8%;
      margin-left: 20%; }
  .illustrations .right-content {
    width: 40%;
    flex: 1;
    margin: 0 10% 0 0;
    padding-top: 0; }
    .illustrations .right-content img {
      width: 90%;
      margin-top: 8em; }

  .highlighted-features .content-wrapper {
    padding-top: 12em; }
  .highlighted-features .left-content {
    margin: 0;
    position: relative; }
    .highlighted-features .left-content .button {
      margin-top: 4em; }
  .highlighted-features .right-content {
    margin: 0 0 0 12%;
    width: 65%; }
    .highlighted-features .right-content li {
      width: 47.5%;
      display: inline-block;
      padding-bottom: 8em; }
      .highlighted-features .right-content li:nth-child(3), .highlighted-features .right-content li:nth-child(4) {
        padding-bottom: 0; }
      .highlighted-features .right-content li:nth-child(odd) {
        margin-right: 2.5%; }
      .highlighted-features .right-content li:nth-child(even) {
        margin-left: 2.5%; }

  .privacy .left-content {
    width: 55%; }
  .privacy .right-content {
    width: 25%;
    margin: 0 10%; }
    .privacy .right-content img {
      width: 32px;
      height: 36px; }

  .press .content-wrapper {
    padding: 24em 0; }
  .press blockquote {
    font-size: 3.12em;
    letter-spacing: -.06em; }
  .press cite {
    padding: 2em 0; }

  .press-logos {
    text-align: center;
    padding: 6em 0 0; }
    .press-logos li {
      display: inline-block;
      margin: 0 1em; }
      .press-logos li img {
        height: 20px; }

  .conclusion .content-wrapper {
    padding-bottom: 12em; }

  footer .content-wrapper {
    padding: 6em 0; }
  footer div {
    width: 50%; }
  footer ul {
    width: 15%;
    padding-top: 0; } }
@media screen and (min-width: 900px) {
  .purpose-built-ui img.mac-content {
    margin-top: 0%; } }
@media screen and (min-width: 1024px) {
  .content-wrapper {
    width: 90%; }

  .features-intro .left-content {
    margin-left: 10%; }

  .left-content {
    width: 38%;
    margin: 0 2% 0 10%; }

  .right-content {
    width: 40%;
    margin: 0 10%; }

  .illustrations .left-content img:nth-child(2) {
    margin-top: 8%;
    margin-left: 30%; }
  .illustrations .right-content img {
    margin-left: 10%; }

  .purpose-built-ui img {
    top: 8%;
    width: 270%;
    margin-left: -85%; }
    .purpose-built-ui img.mac-content {
      width: 250%;
      max-width: 1280px;
      margin-left: -100%;
      padding-bottom: 6em;
      margin-top: 5%; }

  .press-logos li img {
    height: 24px; }

  footer .copyright img {
    width: 300px; } }
@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: 16px; }

  .purpose-built-ui img {
    top: 5%;
    width: 320%;
    margin-left: -115%; }
    .purpose-built-ui img.mac-content {
      margin-left: -95%;
      padding-bottom: 6em;
      margin-top: 20%; } }
@media screen and (min-width: 1400px) {
  .purpose-built-ui img {
    top: 0;
    margin-left: -125%; }
    .purpose-built-ui img.mac-content {
      margin-top: 0%; } }

/*# sourceMappingURL=styles.css.map */
