@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***
*****************************
**** Contact
*****************************
*/
.form-container {
  display: block; }

.paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs p {
  text-align: left; }
.paragraphs h1 {
  font-size: 2.6em; }
.paragraphs h2 {
  font-size: 1.4em;
  padding: 2em 0 .5em; }
.paragraphs p {
  margin-bottom: 1em; }

code {
  font-family: monospace;
  padding: 3px 6px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px; }

.button-style {
  background: #9666EB;
  padding: .15em .5em;
  margin: 0 .3em;
  border-radius: 3px; }

.small-uppercase {
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #C4AAF2;
  margin-bottom: .2em;
  font-size: .7em; }

#contact-form {
  padding-top: 5em; }
  #contact-form h1 {
    margin-bottom: .4em;
    background-image: url(../images/accent_4.jpg);
    text-align: left;
    background-position: top left; }
  #contact-form p {
    text-align: left; }
  #contact-form .main-text {
    margin-top: 0; }
  #contact-form .half-width.margin {
    width: 100%; }

form {
  display: block;
  margin: 2em auto 0 auto;
  width: 100%; }

input, textarea, .selection {
  border: 2px solid #7A4BCF;
  background: #7A4BCF;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  font-size: 1.2em;
  font-family: "Nunito Sans", "Gill Sans", sans-serif;
  color: #fff;
  padding: .5em .8em .6em;
  margin-bottom: 1em;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .selection::-webkit-input-placeholder {
    color: #C4AAF2; }
  input:-moz-placeholder, textarea:-moz-placeholder, .selection:-moz-placeholder {
    color: #C4AAF2; }
  input::-moz-placeholder, textarea::-moz-placeholder, .selection::-moz-placeholder {
    color: #C4AAF2; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, .selection:-ms-input-placeholder {
    color: #C4AAF2; }
  input:placeholder-shown, textarea:placeholder-shown, .selection:placeholder-shown {
    color: #C4AAF2; }
  input:focus, textarea:focus, .selection:focus {
    border-color: #6A3BBF;
    background-color: #6A3BBF; }
  input.required, textarea.required, .selection.required {
    background: #4a2184;
    border-color: #da3b7e; }
  input.submit, textarea.submit, .selection.submit {
    border: 2px solid #59d5d3;
    border-bottom: 2px solid #43bbb9;
    padding: .7em 2.2em;
    color: white;
    display: inline-block;
    font-weight: 500;
    width: auto;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out; }

textarea {
  height: 200px; }

label {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
  padding-top: .5em;
  color: white;
  display: block; }

label, input, textarea, .selection {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none; }

.selection {
  overflow: hidden;
  position: relative;
  padding: .5em 1em .5em 1em; }

.selection select {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  width: 100%;
  font-family: "Nunito Sans", "Gill Sans", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #C4AAF2; }

.nubbin {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -8px;
  border-left: 2px solid #9666EB;
  border-bottom: 2px solid #9666EB;
  width: 8px;
  height: 8px;
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg); }

/***
*****************************
**** Support
*****************************
*/
#support-contact-link {
  padding-top: 2em; }

#support-topics {
  padding-bottom: 0; }
  #support-topics p {
    margin: 1em 0; }
  #support-topics ul {
    margin-top: 3em;
    width: 100%; }
    #support-topics ul li {
      display: block;
      margin: 0 0 1em;
      position: relative; }
      #support-topics ul li.active a.support-topic-filter {
        background: #9767EF;
        color: white; }
      #support-topics ul li.active .topic-cancel-filter {
        display: block; }

a.support-topic-filter:link,
a.support-topic-filter:visited {
  position: relative;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  background: #7A4BCF;
  padding: 1em 0;
  width: 100%;
  color: #fff;
  padding-left: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out; }
  a.support-topic-filter:link img,
  a.support-topic-filter:visited img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: .8em;
    left: 1em;
    display: block; }

a.support-topic-filter:hover {
  background: #6A3BBF;
  color: white; }

.topic-cancel-filter {
  display: none;
  background: white url(../images/close_icon_white.svg) center no-repeat;
  background-size: 30%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 34px;
  height: 34px;
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  right: -10px;
  top: -10px;
  z-index: 99;
  transition: background-color 100ms ease-in-out;
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out; }
  .topic-cancel-filter:hover {
    background-color: #C4AAF2; }

.support-topic-list {
  margin-top: 4em; }
  .support-topic-list .table-of-contents {
    margin-top: 1em;
    margin-bottom: 3em; }
  .support-topic-list h3 {
    text-align: left;
    padding-bottom: .3em;
    border-bottom: 1px solid #9666EB;
    font-size: 3em; }
    .support-topic-list h3 a:link {
      margin-top: 1.5em;
      float: right;
      font-size: .3em;
      font-weight: normal; }
  .support-topic-list .faq-list {
    padding-top: 0;
    margin-top: 0;
    border: none; }
    .support-topic-list .faq-list p {
      padding: 0 0 0 0; }
    .support-topic-list .faq-list p.answer:before {
      content: ""; }
    .support-topic-list .faq-list p.question:before {
      content: ""; }
    .support-topic-list .faq-list p.answer {
      padding-top: 0; }

.back-to-top {
  display: none; }

/***
*****************************
**** Change log
*****************************
*/
.revision-history {
  padding-top: 4em; }
  .revision-history h1 {
    padding-top: 0;
    text-align: center; }
  .revision-history .header-img {
    display: block;
    width: 200px;
    margin: 0 auto 1em; }
  .revision-history .change-log-tabs {
    margin-top: 4em;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    float: left;
    text-align: center;
    width: 100%; }
    .revision-history .change-log-tabs li {
      float: left;
      width: 50%;
      display: inline-block; }
    .revision-history .change-log-tabs a:link,
    .revision-history .change-log-tabs a:visited {
      display: block;
      color: #fff;
      padding: .5em 1em;
      font-weight: bold; }
      .revision-history .change-log-tabs a:link.active,
      .revision-history .change-log-tabs a:visited.active {
        background: #fff;
        color: #DDD0DF; }
    .revision-history .change-log-tabs a:hover {
      background: #7A4BCF;
      color: white; }
  .revision-history .change-log {
    float: left;
    width: 100%;
    padding: 2em 0 0; }
    .revision-history .change-log h3 {
      text-align: left;
      padding: 0 0 .5em 0; }
    .revision-history .change-log ul {
      margin-bottom: 4em; }
    .revision-history .change-log li {
      position: relative;
      padding: .4em 0 .4em 20px; }
      .revision-history .change-log li:before {
        content: "•";
        position: absolute;
        font-size: .8em;
        left: 0;
        top: .6em; }

.features-rundown h1, .features-rundown h2 {
  text-align: left; }
.features-rundown h2 {
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #9666EB; }

.feature-group-icon {
  display: inline-block;
  margin-right: 12px;
  height: 22px; }

.feature-group {
  padding-top: 40px; }
  .feature-group .block {
    font-weight: bold; }
  .feature-group li {
    display: inline-block;
    padding-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: top; }
  .feature-group p {
    text-align: left; }

.device-label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  font-size: .7em;
  color: #C4AAF2; }

#support-topics,
.features-list,
#faq,
#contact-form,
.paragraphs,
.revision-history {
  padding-top: 5em; }

.features-intro h1, .features-intro p {
  text-align: center; }
.features-intro h1 {
  margin-bottom: 1em; }

.features-hero {
  width: 100%;
  margin: 0 auto;
  display: block; }

/**
 * URL Scheme
 */
#url-scheme-params h1, #url-scheme-params h2, #url-scheme-params h3, #url-scheme-params p {
  text-align: left; }

.url-scheme h1,
.url-scheme-examples h1 {
  font-size: 2em; }
.url-scheme p,
.url-scheme-examples p {
  margin: 1em 0 4em; }
.url-scheme h2,
.url-scheme-examples h2 {
  font-size: 1.4em;
  margin-top: 1em; }
.url-scheme h3,
.url-scheme-examples h3 {
  font-size: 1em;
  margin-top: 2em; }

.url-scheme {
  padding-bottom: 0; }

.url-scheme-examples h2 {
  padding: 3em 0 1em; }
.url-scheme-examples h3 {
  padding-bottom: 1em; }

.gist {
  padding-bottom: 1em; }

.url-params {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .url-params li {
    padding: 1.3em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .url-params li span {
      display: block; }
    .url-params li .param-label {
      font-size: 2em;
      margin: 0 auto; }

.url-scheme-examples {
  padding-top: 0; }

/**
 333333333333333   77777777777777777777555555555555555555
3:::::::::::::::33 7::::::::::::::::::75::::::::::::::::5
3::::::33333::::::37::::::::::::::::::75::::::::::::::::5
3333333     3:::::3777777777777:::::::75:::::555555555555
            3:::::3           7::::::7 5:::::5
            3:::::3          7::::::7  5:::::5
    33333333:::::3          7::::::7   5:::::5555555555
    3:::::::::::3          7::::::7    5:::::::::::::::5
    33333333:::::3        7::::::7     555555555555:::::5
            3:::::3      7::::::7                  5:::::5
            3:::::3     7::::::7                   5:::::5
            3:::::3    7::::::7        5555555     5:::::5
3333333     3:::::3   7::::::7         5::::::55555::::::5
3::::::33333::::::3  7::::::7           55:::::::::::::55
3:::::::::::::::33  7::::::7              55:::::::::55
 333333333333333   77777777                 555555555
 **/
/*
       444444444       000000000          000000000
      4::::::::4     00:::::::::00      00:::::::::00
     4:::::::::4   00:::::::::::::00  00:::::::::::::00
    4::::44::::4  0:::::::000:::::::00:::::::000:::::::0
   4::::4 4::::4  0::::::0   0::::::00::::::0   0::::::0
  4::::4  4::::4  0:::::0     0:::::00:::::0     0:::::0
 4::::4   4::::4  0:::::0     0:::::00:::::0     0:::::0
4::::444444::::4440:::::0 000 0:::::00:::::0 000 0:::::0
4::::::::::::::::40:::::0 000 0:::::00:::::0 000 0:::::0
4444444444:::::4440:::::0     0:::::00:::::0     0:::::0
          4::::4  0:::::0     0:::::00:::::0     0:::::0
          4::::4  0::::::0   0::::::00::::::0   0::::::0
          4::::4  0:::::::000:::::::00:::::::000:::::::0
        44::::::44 00:::::::::::::00  00:::::::::::::00
        4::::::::4   00:::::::::00      00:::::::::00
        4444444444     000000000          000000000
        */
/*
555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000
     */
/*

77777777777777777777   66666666        888888888
7::::::::::::::::::7  6::::::6       88:::::::::88
7::::::::::::::::::7 6::::::6      88:::::::::::::88
777777777777:::::::76::::::6      8::::::88888::::::8
           7::::::76::::::6       8:::::8     8:::::8
          7::::::76::::::6        8:::::8     8:::::8
         7::::::76::::::6          8:::::88888:::::8
        7::::::76::::::::66666      8:::::::::::::8
       7::::::76::::::::::::::66   8:::::88888:::::8
      7::::::7 6::::::66666:::::6 8:::::8     8:::::8
     7::::::7  6:::::6     6:::::68:::::8     8:::::8
    7::::::7   6:::::6     6:::::68:::::8     8:::::8
   7::::::7    6::::::66666::::::68::::::88888::::::8
  7::::::7      66:::::::::::::66  88:::::::::::::88
 7::::::7         66:::::::::66      88:::::::::88
77777777            666666666          888888888
*/
/*
     888888888             66666666        000000000
   88:::::::::88          6::::::6       00:::::::::00
 88:::::::::::::88       6::::::6      00:::::::::::::00
8::::::88888::::::8     6::::::6      0:::::::000:::::::0
8:::::8     8:::::8    6::::::6       0::::::0   0::::::0
8:::::8     8:::::8   6::::::6        0:::::0     0:::::0
 8:::::88888:::::8   6::::::6         0:::::0     0:::::0
  8:::::::::::::8   6::::::::66666    0:::::0 000 0:::::0
 8:::::88888:::::8 6::::::::::::::66  0:::::0 000 0:::::0
8:::::8     8:::::86::::::66666:::::6 0:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60::::::0   0::::::0
8::::::88888::::::86::::::66666::::::60:::::::000:::::::0
 88:::::::::::::88  66:::::::::::::66  00:::::::::::::00
   88:::::::::88      66:::::::::66      00:::::::::00
     888888888          666666666          000000000
     */
/*
     999999999       1111111        000000000
   99:::::::::99    1::::::1      00:::::::::00
 99:::::::::::::99 1:::::::1    00:::::::::::::00
9::::::99999::::::9111:::::1   0:::::::000:::::::0
9:::::9     9:::::9   1::::1   0::::::0   0::::::0
9:::::9     9:::::9   1::::1   0:::::0     0:::::0
 9:::::99999::::::9   1::::1   0:::::0     0:::::0
  99::::::::::::::9   1::::l   0:::::0 000 0:::::0
    99999::::::::9    1::::l   0:::::0 000 0:::::0
         9::::::9     1::::l   0:::::0     0:::::0
        9::::::9      1::::l   0:::::0     0:::::0
       9::::::9       1::::l   0::::::0   0::::::0
      9::::::9     111::::::1110:::::::000:::::::0
     9::::::9      1::::::::::1 00:::::::::::::00
    9::::::9       1::::::::::1   00:::::::::00
   99999999        111111111111     000000000
   */
/*
     999999999            66666666        000000000
   99:::::::::99         6::::::6       00:::::::::00
 99:::::::::::::99      6::::::6      00:::::::::::::00
9::::::99999::::::9    6::::::6      0:::::::000:::::::0
9:::::9     9:::::9   6::::::6       0::::::0   0::::::0
9:::::9     9:::::9  6::::::6        0:::::0     0:::::0
 9:::::99999::::::9 6::::::6         0:::::0     0:::::0
  99::::::::::::::96::::::::66666    0:::::0 000 0:::::0
    99999::::::::96::::::::::::::66  0:::::0 000 0:::::0
         9::::::9 6::::::66666:::::6 0:::::0     0:::::0
        9::::::9  6:::::6     6:::::60:::::0     0:::::0
       9::::::9   6:::::6     6:::::60::::::0   0::::::0
      9::::::9    6::::::66666::::::60:::::::000:::::::0
     9::::::9      66:::::::::::::66  00:::::::::::::00
    9::::::9         66:::::::::66      00:::::::::00
   99999999            666666666          000000000
   */
/*
  1111111        000000000      222222222222222        444444444
 1::::::1      00:::::::::00   2:::::::::::::::22     4::::::::4
1:::::::1    00:::::::::::::00 2::::::222222:::::2   4:::::::::4
111:::::1   0:::::::000:::::::02222222     2:::::2  4::::44::::4
   1::::1   0::::::0   0::::::0            2:::::2 4::::4 4::::4
   1::::1   0:::::0     0:::::0            2:::::24::::4  4::::4
   1::::1   0:::::0     0:::::0         2222::::24::::4   4::::4
   1::::l   0:::::0 000 0:::::0    22222::::::224::::444444::::444
   1::::l   0:::::0 000 0:::::0  22::::::::222  4::::::::::::::::4
   1::::l   0:::::0     0:::::0 2:::::22222     4444444444:::::444
   1::::l   0:::::0     0:::::02:::::2                    4::::4
   1::::l   0::::::0   0::::::02:::::2                    4::::4
111::::::1110:::::::000:::::::02:::::2       222222       4::::4
1::::::::::1 00:::::::::::::00 2::::::2222222:::::2     44::::::44
1::::::::::1   00:::::::::00   2::::::::::::::::::2     4::::::::4
111111111111     000000000     22222222222222222222     4444444444
*/
/*
  1111111    222222222222222         888888888          000000000
 1::::::1   2:::::::::::::::22     88:::::::::88      00:::::::::00
1:::::::1   2::::::222222:::::2  88:::::::::::::88  00:::::::::::::00
111:::::1   2222222     2:::::2 8::::::88888::::::80:::::::000:::::::0
   1::::1               2:::::2 8:::::8     8:::::80::::::0   0::::::0
   1::::1               2:::::2 8:::::8     8:::::80:::::0     0:::::0
   1::::1            2222::::2   8:::::88888:::::8 0:::::0     0:::::0
   1::::l       22222::::::22     8:::::::::::::8  0:::::0 000 0:::::0
   1::::l     22::::::::222      8:::::88888:::::8 0:::::0 000 0:::::0
   1::::l    2:::::22222        8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80::::::0   0::::::0
111::::::1112:::::2       2222228::::::88888::::::80:::::::000:::::::0
1::::::::::12::::::2222222:::::2 88:::::::::::::88  00:::::::::::::00
1::::::::::12::::::::::::::::::2   88:::::::::88      00:::::::::00
11111111111122222222222222222222     888888888          000000000
*/
html,
body {
  color: #0d0c22;
  font-size: 1em;
  background-color: #ECF1F4;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale; }

body {
  counter-reset: item;
  -webkit-font-smoothing: antialiased; }
  body:before {
    -webkit-font-smoothing: subpixel-antialiased; }

a:link, a:visited {
  text-decoration: none;
  color: #0d0c22;
  font-weight: 600; }

a:hover {
  color: #111111; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: bold; }

p, li {
  line-height: 1.8; }

li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }

/**
 * Reset for noscript
 */
.no-js .invisible {
  display: none; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

::selection {
  background: #C4AAF2; }

::-moz-selection {
  background: #C4AAF2; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/
.content-wrapper {
  max-width: 1440px;
  width: 86%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }
  .content-wrapper.display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .content-wrapper > img {
    width: 100%;
    border-radius: 20px; }

section {
  overflow: hidden;
  padding: 5em 0; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: -.03em; }

h2 {
  font-size: 3.2em; }

h3 {
  font-size: 2.2em; }

.large-text {
  font-size: 1.5em;
  line-height: 1.5;
  width: 60%;
  display: inline-block; }

.button {
  padding: 1.5em 3em;
  border-radius: 3em;
  display: inline-block;
  font-size: .9em;
  color: #0d0c22;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transform: translateY(0px);
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out; }
  .button.primary {
    background-color: #E6C475; }
  .button.bordered {
    border: 2px solid #E2E1EB; }
  .button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); }

/**
 * Generic containers
 */
.sidebar {
  flex: 1;
  padding-right: 10em; }
  .sidebar h2 {
    padding-bottom: .5em; }
  .sidebar p {
    margin-bottom: 1em; }
    .sidebar p:last-child {
      margin-bottom: 0; }
  .sidebar .button {
    margin-top: 3em; }

.content-container {
  width: 50%;
  position: relative; }
  .content-container video {
    display: inline-block;
    height: 100%;
    position: relative;
    z-inex: 1; }
  .content-container .bezel {
    position: absolute;
    z-index: 2;
    height: 106.7%;
    top: -3.3%;
    left: 50%;
    margin-left: -27.5%; }

/**
 * Navigation
 */
nav {
  position: relative;
  width: 100%;
  z-index: 9999;
  font-size: 0.9em; }
  nav .content-wrapper {
    padding: 4em 0 3em;
    border-bottom: 1px solid #E2E1EB; }
    nav .content-wrapper > a {
      position: absolute;
      bottom: 2em;
      right: 0; }
  nav li, nav li a:link, nav li a:visited {
    display: inline-block;
    font-weight: 600;
    color: #6e6d7a;
    transition: color 100ms ease-in-out; }
  nav li a:hover {
    color: #0d0c22; }
  nav li:first-child::after {
    content: "|";
    font-weight: normal;
    display: inline-block;
    margin: 0 10px; }

#nav-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  /* IE 8 */
  height: 105vh;
  /* Where has this been all my life */
  opacity: 0;
  overflow: hidden;
  z-index: 9998;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out; }
  #nav-wrapper.no-click {
    display: none; }
  #nav-wrapper.active {
    opacity: 1; }
    #nav-wrapper.active li {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px); }
      #nav-wrapper.active li.first {
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -ms-transition-delay: 100ms;
        -o-transition-delay: 100ms; }
      #nav-wrapper.active li.second {
        transition-delay: 130ms;
        -webkit-transition-delay: 130ms;
        -moz-transition-delay: 130ms;
        -ms-transition-delay: 130ms;
        -o-transition-delay: 130ms; }
      #nav-wrapper.active li.third {
        transition-delay: 160ms;
        -webkit-transition-delay: 160ms;
        -moz-transition-delay: 160ms;
        -ms-transition-delay: 160ms;
        -o-transition-delay: 160ms; }
      #nav-wrapper.active li.fourth {
        transition-delay: 190ms;
        -webkit-transition-delay: 190ms;
        -moz-transition-delay: 190ms;
        -ms-transition-delay: 190ms;
        -o-transition-delay: 190ms; }
      #nav-wrapper.active li.fifth {
        transition-delay: 220ms;
        -webkit-transition-delay: 220ms;
        -moz-transition-delay: 220ms;
        -ms-transition-delay: 220ms;
        -o-transition-delay: 220ms; }

#hamburger-icon {
  position: fixed;
  top: 5em;
  left: 5%;
  margin-top: -12px;
  width: 20px;
  height: 20px;
  z-index: 9999;
  cursor: pointer; }
  #hamburger-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #6e6d7a;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #hamburger-icon span.top {
      top: 20%; }
    #hamburger-icon span.middle {
      top: 50%; }
    #hamburger-icon span.bottom {
      top: 80%; }
  #hamburger-icon:hover span {
    top: 50%; }
  #hamburger-icon:hover .top {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg); }
  #hamburger-icon:hover .bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg); }
  #hamburger-icon:hover .middle {
    opacity: 0; }
  #hamburger-icon:hover #hamburger-icon {
    display: block; }

#nav-menu {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  display: none; }
  #nav-menu li {
    display: block;
    opacity: 0;
    text-align: center;
    font-size: 1.4em;
    transform: translate3d(0px, -30px, 0px);
    -webkit-transform: translate3d(0px, -30px, 0px);
    -moz-transform: translate3d(0px, -30px, 0px);
    -ms-transform: translate3d(0px, -30px, 0px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
  #nav-menu a:link, #nav-menu a:visited {
    transition: color 100ms ease-out, border 100ms ease-in-out;
    -webkit-transition: color 100ms ease-out, border 100ms ease-in-out;
    -moz-transition: color 100ms ease-out, border 100ms ease-in-out;
    -ms-transition: color 100ms ease-out, border 100ms ease-in-out;
    -o-transition: color 100ms ease-out, border 100ms ease-in-out;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;
    margin: .6em 0;
    padding: .1em 0;
    color: white; }
    #nav-menu a:link em, #nav-menu a:visited em {
      text-transform: none; }
    #nav-menu a:link.active, #nav-menu a:visited.active {
      color: white;
      border-bottom: 2px solid #fff; }
    #nav-menu a:link a:hover, #nav-menu a:visited a:hover {
      background: transparent;
      color: #C4AAF2; }
  #nav-menu a:hover {
    color: #C4AAF2; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.introduction {
  text-align: center; }
  .introduction .large-text {
    padding: 12em 0 7em; }

.hero-images {
  padding: 8em 0; }
  .hero-images img {
    position: relative;
    display: inline-block;
    width: 40%;
    vertical-align: top; }

.left-hero {
  z-index: 1; }

.right-hero {
  top: 10em;
  z-index: 2;
  padding-top: 4em;
  margin-left: -5em; }

.horizontal-buttons li {
  display: inline-block;
  margin-top: 60px; }
  .horizontal-buttons li a:link, .horizontal-buttons li a:visited {
    transform: translateY(0px);
    transition: transform 100ms ease-in-out; }
  .horizontal-buttons li a:hover {
    transform: translateY(-2px); }
  .horizontal-buttons li:first-child {
    margin-right: 10px; }

.major-feature.yellow .content-wrapper {
  background-color: #E6C475; }
.major-feature.blue .content-wrapper {
  background-color: #BACCEA; }
.major-feature.green .content-wrapper {
  background-color: #AADFC0; }
.major-feature.purple .content-wrapper {
  background-color: #DDD0DF; }
.major-feature .content-wrapper {
  padding: 6em 5.2em;
  border-radius: 10px; }
.major-feature .content-container {
  max-height: 600px; }

.feature-overflow ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
.feature-overflow li {
  margin: 0 10% 4em 0;
  width: 40%;
  display: inline-block; }
  .feature-overflow li strong {
    display: block;
    font-weight: bold;
    font-size: 1.6em; }

.faq li {
  padding: 2em 0;
  border-bottom: 1px solid #E2E1EB; }
  .faq li:last-child {
    border: 0; }
.faq .question {
  font-size: 1.4em;
  display: block;
  position: relative; }
  .faq .question .arrow {
    position: absolute;
    top: .5em;
    right: 0;
    transform: rotate(0deg);
    transition: transform 00ms ease-in-out; }
.faq .answer {
  display: none;
  padding-top: 1em;
  color: #6e6d7a; }
.faq li.active .answer {
  display: block; }
.faq li.active .question .arrow {
  transform: rotate(180deg); }

.quote {
  text-align: center; }
  .quote .content-wrapper {
    padding: 20em 0;
    border-top: 1px solid #E2E1EB;
    border-bottom: 1px solid #E2E1EB; }
  .quote img {
    width: 200px;
    display: inline-block;
    border-radius: 0;
    margin-top: 2em; }
  .quote p {
    font-weight: bold;
    font-size: 4em; }

.final-hero {
  padding: 4em 0; }

.press {
  text-align: center; }
  .press li {
    vertical-align: middle;
    display: inline-block;
    margin: 0 20px; }

footer {
  margin-top: 6em;
  border-top: 1px solid #E2E1EB;
  text-align: center;
  padding-bottom: 6em; }
  footer a:link, footer a:visited {
    color: #6e6d7a; }
  footer a:hover {
    color: #0d0c22; }
  footer ul {
    padding: 2em 0; }
    footer ul li {
      display: inline-block;
      margin: 0 10px; }

/**
 333333333333333   77777777777777777777555555555555555555
3:::::::::::::::33 7::::::::::::::::::75::::::::::::::::5
3::::::33333::::::37::::::::::::::::::75::::::::::::::::5
3333333     3:::::3777777777777:::::::75:::::555555555555
            3:::::3           7::::::7 5:::::5
            3:::::3          7::::::7  5:::::5
    33333333:::::3          7::::::7   5:::::5555555555
    3:::::::::::3          7::::::7    5:::::::::::::::5
    33333333:::::3        7::::::7     555555555555:::::5
            3:::::3      7::::::7                  5:::::5
            3:::::3     7::::::7                   5:::::5
            3:::::3    7::::::7        5555555     5:::::5
3333333     3:::::3   7::::::7         5::::::55555::::::5
3::::::33333::::::3  7::::::7           55:::::::::::::55
3:::::::::::::::33  7::::::7              55:::::::::55
 333333333333333   77777777                 555555555
 **/
/*
       444444444       000000000          000000000
      4::::::::4     00:::::::::00      00:::::::::00
     4:::::::::4   00:::::::::::::00  00:::::::::::::00
    4::::44::::4  0:::::::000:::::::00:::::::000:::::::0
   4::::4 4::::4  0::::::0   0::::::00::::::0   0::::::0
  4::::4  4::::4  0:::::0     0:::::00:::::0     0:::::0
 4::::4   4::::4  0:::::0     0:::::00:::::0     0:::::0
4::::444444::::4440:::::0 000 0:::::00:::::0 000 0:::::0
4::::::::::::::::40:::::0 000 0:::::00:::::0 000 0:::::0
4444444444:::::4440:::::0     0:::::00:::::0     0:::::0
          4::::4  0:::::0     0:::::00:::::0     0:::::0
          4::::4  0::::::0   0::::::00::::::0   0::::::0
          4::::4  0:::::::000:::::::00:::::::000:::::::0
        44::::::44 00:::::::::::::00  00:::::::::::::00
        4::::::::4   00:::::::::00      00:::::::::00
        4444444444     000000000          000000000
        */
/*
555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000
     */
/*


77777777777777777777   6666666677777777777777777777
7::::::::::::::::::7  6::::::6 7::::::::::::::::::7
7::::::::::::::::::7 6::::::6  7::::::::::::::::::7
777777777777:::::::76::::::6   777777777777:::::::7
           7::::::76::::::6               7::::::7
          7::::::76::::::6               7::::::7
         7::::::76::::::6               7::::::7
        7::::::76::::::::66666         7::::::7
       7::::::76::::::::::::::66      7::::::7
      7::::::7 6::::::66666:::::6    7::::::7
     7::::::7  6:::::6     6:::::6  7::::::7
    7::::::7   6:::::6     6:::::6 7::::::7
   7::::::7    6::::::66666::::::67::::::7
  7::::::7      66:::::::::::::667::::::7
 7::::::7         66:::::::::66 7::::::7
77777777            666666666  77777777

*/
/*

77777777777777777777   66666666        888888888
7::::::::::::::::::7  6::::::6       88:::::::::88
7::::::::::::::::::7 6::::::6      88:::::::::::::88
777777777777:::::::76::::::6      8::::::88888::::::8
           7::::::76::::::6       8:::::8     8:::::8
          7::::::76::::::6        8:::::8     8:::::8
         7::::::76::::::6          8:::::88888:::::8
        7::::::76::::::::66666      8:::::::::::::8
       7::::::76::::::::::::::66   8:::::88888:::::8
      7::::::7 6::::::66666:::::6 8:::::8     8:::::8
     7::::::7  6:::::6     6:::::68:::::8     8:::::8
    7::::::7   6:::::6     6:::::68:::::8     8:::::8
   7::::::7    6::::::66666::::::68::::::88888::::::8
  7::::::7      66:::::::::::::66  88:::::::::::::88
 7::::::7         66:::::::::66      88:::::::::88
77777777            666666666          888888888
*/
@media screen and (min-width: 768px) {
  .mobile {
    display: none; }

  .content-wrapper {
    width: 80%; } }
/*
     888888888             66666666        000000000
   88:::::::::88          6::::::6       00:::::::::00
 88:::::::::::::88       6::::::6      00:::::::::::::00
8::::::88888::::::8     6::::::6      0:::::::000:::::::0
8:::::8     8:::::8    6::::::6       0::::::0   0::::::0
8:::::8     8:::::8   6::::::6        0:::::0     0:::::0
 8:::::88888:::::8   6::::::6         0:::::0     0:::::0
  8:::::::::::::8   6::::::::66666    0:::::0 000 0:::::0
 8:::::88888:::::8 6::::::::::::::66  0:::::0 000 0:::::0
8:::::8     8:::::86::::::66666:::::6 0:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60::::::0   0::::::0
8::::::88888::::::86::::::66666::::::60:::::::000:::::::0
 88:::::::::::::88  66:::::::::::::66  00:::::::::::::00
   88:::::::::88      66:::::::::66      00:::::::::00
     888888888          666666666          000000000
     */
/*
     999999999       1111111        000000000
   99:::::::::99    1::::::1      00:::::::::00
 99:::::::::::::99 1:::::::1    00:::::::::::::00
9::::::99999::::::9111:::::1   0:::::::000:::::::0
9:::::9     9:::::9   1::::1   0::::::0   0::::::0
9:::::9     9:::::9   1::::1   0:::::0     0:::::0
 9:::::99999::::::9   1::::1   0:::::0     0:::::0
  99::::::::::::::9   1::::l   0:::::0 000 0:::::0
    99999::::::::9    1::::l   0:::::0 000 0:::::0
         9::::::9     1::::l   0:::::0     0:::::0
        9::::::9      1::::l   0:::::0     0:::::0
       9::::::9       1::::l   0::::::0   0::::::0
      9::::::9     111::::::1110:::::::000:::::::0
     9::::::9      1::::::::::1 00:::::::::::::00
    9::::::9       1::::::::::1   00:::::::::00
   99999999        111111111111     000000000
   */
/*
     999999999            66666666        000000000
   99:::::::::99         6::::::6       00:::::::::00
 99:::::::::::::99      6::::::6      00:::::::::::::00
9::::::99999::::::9    6::::::6      0:::::::000:::::::0
9:::::9     9:::::9   6::::::6       0::::::0   0::::::0
9:::::9     9:::::9  6::::::6        0:::::0     0:::::0
 9:::::99999::::::9 6::::::6         0:::::0     0:::::0
  99::::::::::::::96::::::::66666    0:::::0 000 0:::::0
    99999::::::::96::::::::::::::66  0:::::0 000 0:::::0
         9::::::9 6::::::66666:::::6 0:::::0     0:::::0
        9::::::9  6:::::6     6:::::60:::::0     0:::::0
       9::::::9   6:::::6     6:::::60::::::0   0::::::0
      9::::::9    6::::::66666::::::60:::::::000:::::::0
     9::::::9      66:::::::::::::66  00:::::::::::::00
    9::::::9         66:::::::::66      00:::::::::00
   99999999            666666666          000000000
   */
/*
  1111111        000000000      222222222222222        444444444
 1::::::1      00:::::::::00   2:::::::::::::::22     4::::::::4
1:::::::1    00:::::::::::::00 2::::::222222:::::2   4:::::::::4
111:::::1   0:::::::000:::::::02222222     2:::::2  4::::44::::4
   1::::1   0::::::0   0::::::0            2:::::2 4::::4 4::::4
   1::::1   0:::::0     0:::::0            2:::::24::::4  4::::4
   1::::1   0:::::0     0:::::0         2222::::24::::4   4::::4
   1::::l   0:::::0 000 0:::::0    22222::::::224::::444444::::444
   1::::l   0:::::0 000 0:::::0  22::::::::222  4::::::::::::::::4
   1::::l   0:::::0     0:::::0 2:::::22222     4444444444:::::444
   1::::l   0:::::0     0:::::02:::::2                    4::::4
   1::::l   0::::::0   0::::::02:::::2                    4::::4
111::::::1110:::::::000:::::::02:::::2       222222       4::::4
1::::::::::1 00:::::::::::::00 2::::::2222222:::::2     44::::::44
1::::::::::1   00:::::::::00   2::::::::::::::::::2     4::::::::4
111111111111     000000000     22222222222222222222     4444444444
*/
/*
  1111111        000000000             66666666    222222222222222
 1::::::1      00:::::::::00          6::::::6    2:::::::::::::::22
1:::::::1    00:::::::::::::00       6::::::6     2::::::222222:::::2
111:::::1   0:::::::000:::::::0     6::::::6      2222222     2:::::2
   1::::1   0::::::0   0::::::0    6::::::6                   2:::::2
   1::::1   0:::::0     0:::::0   6::::::6                    2:::::2
   1::::1   0:::::0     0:::::0  6::::::6                  2222::::2
   1::::l   0:::::0 000 0:::::0 6::::::::66666        22222::::::22
   1::::l   0:::::0 000 0:::::06::::::::::::::66    22::::::::222
   1::::l   0:::::0     0:::::06::::::66666:::::6  2:::::22222
   1::::l   0:::::0     0:::::06:::::6     6:::::62:::::2
   1::::l   0::::::0   0::::::06:::::6     6:::::62:::::2
111::::::1110:::::::000:::::::06::::::66666::::::62:::::2       222222
1::::::::::1 00:::::::::::::00  66:::::::::::::66 2::::::2222222:::::2
1::::::::::1   00:::::::::00      66:::::::::66   2::::::::::::::::::2
111111111111     000000000          666666666     22222222222222222222
*/
/*
  1111111    222222222222222         888888888          000000000
 1::::::1   2:::::::::::::::22     88:::::::::88      00:::::::::00
1:::::::1   2::::::222222:::::2  88:::::::::::::88  00:::::::::::::00
111:::::1   2222222     2:::::2 8::::::88888::::::80:::::::000:::::::0
   1::::1               2:::::2 8:::::8     8:::::80::::::0   0::::::0
   1::::1               2:::::2 8:::::8     8:::::80:::::0     0:::::0
   1::::1            2222::::2   8:::::88888:::::8 0:::::0     0:::::0
   1::::l       22222::::::22     8:::::::::::::8  0:::::0 000 0:::::0
   1::::l     22::::::::222      8:::::88888:::::8 0:::::0 000 0:::::0
   1::::l    2:::::22222        8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80::::::0   0::::::0
111::::::1112:::::2       2222228::::::88888::::::80:::::::000:::::::0
1::::::::::12::::::2222222:::::2 88:::::::::::::88  00:::::::::::::00
1::::::::::12::::::::::::::::::2   88:::::::::88      00:::::::::00
11111111111122222222222222222222     888888888          000000000
*/

/*# sourceMappingURL=styles.css.map */
