@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Navigation
 */
.no-js #nav-links {
  opacity: 1;
  pointer-events: all; }
.no-js nav {
  height: 200px; }
.no-js #hamburger-icon {
  display: none; }

nav {
  position: relative;
  z-index: 9999;
  height: 56px;
  transition: height 0.25s ease-in-out;
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -ms-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out; }

#nav-links {
  margin-top: 3em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out; }
  #nav-links li {
    display: block;
    margin: 2em 0; }
    #nav-links li:last-child {
      margin-bottom: 0; }
  #nav-links a:link, #nav-links a:visited {
    font-weight: 600;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #6E6D7A;
    display: inline-block;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #nav-links a:link:hover, #nav-links a:link.active, #nav-links a:visited:hover, #nav-links a:visited.active {
      color: #383938; }

nav.active {
  height: 200px; }
  nav.active #nav-links {
    transition-delay: 200ms;
    opacity: 1;
    pointer-events: all; }

#hamburger-icon {
  position: absolute;
  top: 0;
  right: 0%;
  width: 20px;
  height: 20px;
  z-index: 9999; }
  #hamburger-icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #6E6D7A;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out; }
    #hamburger-icon span.top {
      top: 20%; }
    #hamburger-icon span.middle {
      top: 50%; }
    #hamburger-icon span.bottom {
      top: 80%; }
  #hamburger-icon.active span {
    top: 50%; }
  #hamburger-icon.active .top {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg); }
  #hamburger-icon.active .bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg); }
  #hamburger-icon.active .middle {
    opacity: 0; }

.logo-link {
  margin-top: 2.5em;
  display: block; }

@media screen and (min-width: 768px) {
  .no-js nav {
    height: auto; }

  nav {
    position: relative;
    padding: 2.5em 0;
    text-align: right;
    height: auto; }

  #hamburger-icon {
    display: none; }

  #nav-links {
    margin-top: 0;
    opacity: 1;
    pointer-events: all; }
    #nav-links li {
      display: inline-block;
      margin: 0 0 0 2em; }

  .logo-link {
    position: absolute;
    top: -.2em;
    left: 0;
    margin-top: 0; } }
input, textarea, .selection {
  border: 3px solid transparent;
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  font-size: 1.2em;
  color: #383938;
  padding: 1em .8em 1em;
  outline: none;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .selection::-webkit-input-placeholder {
    color: #6E6D7A; }
  input:-moz-placeholder, textarea:-moz-placeholder, .selection:-moz-placeholder {
    color: #6E6D7A; }
  input::-moz-placeholder, textarea::-moz-placeholder, .selection::-moz-placeholder {
    color: #6E6D7A; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, .selection:-ms-input-placeholder {
    color: #6E6D7A; }
  input:placeholder-shown, textarea:placeholder-shown, .selection:placeholder-shown {
    color: #6E6D7A; }
  input:focus, textarea:focus, .selection:focus {
    border-color: #94E5AA; }
    input:focus:hover, textarea:focus:hover, .selection:focus:hover {
      border-color: #94E5AA; }
  input:hover, textarea:hover, .selection:hover {
    border-color: #94E5AA; }

label, input, textarea, .selection {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none; }

/***
*****************************
**** Support
******************************/
#support-topics {
  padding: 12em 3em;
  text-align: center;
  background: #bff4d2;
  border-radius: 4px; }
  #support-topics h1 {
    font-size: 3em;
    padding-bottom: 1em;
    margin-bottom: 0; }
  #support-topics input {
    width: 90%;
    margin: 0 auto;
    max-width: 400px; }

.support .left-content h2,
.features .left-content h2 {
  padding-bottom: 2em; }

#support-input {
  display: inline-block;
  width: auto;
  padding: 1em 1em 1em 3em;
  font-size: 1.2em;
  margin: 0 auto 0;
  background: white url("../images/search_icon.svg") 1em center no-repeat;
  background-size: 27px 27px; }

.illustration-description {
  display: block;
  margin-bottom: .3em; }

.support-table.emoji {
  padding-top: 3em; }
  .support-table.emoji li {
    padding: 1em 0; }

.results-label {
  display: block;
  text-align: center;
  margin-top: 2em;
  opacity: 0; }
  .results-label.active {
    opacity: 1; }

/***
*****************************
**** Features
******************************/
.features-list h1 {
  padding-bottom: 1em; }

.feature-group {
  padding: .6em 0 4em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .feature-group:last-child {
    border: 0; }
  .feature-group .block {
    font-size: 1.4em;
    color: #383938;
    padding: .25em 0 .5em;
    font-weight: 600; }
  .feature-group li {
    margin: 0 0 2em 0;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }
    .feature-group li.feature-image {
      width: 100%;
      position: relative; }
      .feature-group li.feature-image img {
        width: 100%; }

.features-list .content-wrapper {
  padding-top: 3em;
  border-top: 1px solid #EDEEF3; }
  .features-list .content-wrapper:nth-child(2), .features-list .content-wrapper:nth-child(1) {
    border: 0; }

.feature-label {
  padding: .7em 1em .6em;
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: .7em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  background-color: #111111; }

.device-label {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
  display: block;
  font-weight: 600;
  margin-top: 2em;
  color: #3D806E; }

/***
*****************************
**** URL Scheme
******************************/
#url-scheme-params h1, #url-scheme-params h2, #url-scheme-params h3, #url-scheme-params p {
  text-align: left; }

.url-scheme h1,
.url-scheme-examples h1 {
  font-size: 2em; }
.url-scheme p,
.url-scheme-examples p {
  margin: 1em 0 4em; }
.url-scheme h2,
.url-scheme-examples h2 {
  font-size: 1.4em;
  margin-top: 1em; }
.url-scheme h3,
.url-scheme-examples h3 {
  font-size: 1em;
  margin-top: 2em; }

.url-scheme {
  padding-bottom: 0; }
  .url-scheme p {
    max-width: 560px; }

.url-scheme-examples h2 {
  padding: 3em 0 1em; }
.url-scheme-examples h3 {
  padding-bottom: 1em; }

.gist {
  padding-bottom: 1em; }

.url-params {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .url-params li {
    position: relative;
    padding: 2em 0 2em 7em;
    border-bottom: 1px solid #EDEEF3; }
    .url-params li span {
      display: inline-block; }
    .url-params li .param-description {
      display: block;
      font-weight: 600;
      margin-bottom: .5em;
      color: #383938; }
    .url-params li .param-label {
      margin: 0 auto; }
    .url-params li .param-notes {
      line-height: 1.8;
      max-width: 400px; }

.param-label {
  position: absolute;
  top: 2em;
  left: 0; }

.url-scheme-examples {
  padding-top: 0; }

@media screen and (min-width: 768px) {
  .support .left-content h2,
  .features .left-content h2 {
    padding-bottom: 0; }

  .url-params {
    font-size: 1.1em; }

  .features-list {
    padding-top: 3em; }

  .feature-group li {
    padding: 0 5% 5em 0;
    width: 50%; }
    .feature-group li.col-2 {
      padding-right: 0;
      padding-left: 5%; }
    .feature-group li.feature-image {
      padding-right: 0; }

  .features-list h1 {
    padding: 0; }
  .features-list .left-content {
    margin-left: 0; }
  .features-list .right-content {
    margin-right: 0;
    width: 60%; } }
@media screen and (min-width: 1024px) {
  .url-params {
    font-size: 1.25em; } }
li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.optional-new-line {
  display: inline; }

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px); }

/**
 * No Script States
 */
.no-js .answer {
  display: block; }
.no-js .question .arrow,
.no-js .invisible {
  display: none; }
.no-js .introduction .large-text {
  padding-top: 12em; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

.lazy-load {
  transition: opacity .25s ease-in-out; }

::selection {
  background: #E6E4FF; }

::-moz-selection {
  background: #E6E4FF; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }
  img.full-width {
    width: 100%; }

/** Global Elements **/
section {
  overflow: hidden;
  padding: 4em 0; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1, h2, h3, h4 {
  line-height: 1em;
  color: #383938; }

h1 {
  font-size: 2em;
  line-height: 1em;
  letter-spacing: -.06em;
  font-weight: 600; }

h2, h3 {
  font-size: 1.6em;
  line-height: 1.35em;
  letter-spacing: -.04em; }

p {
  font-size: 1em;
  line-height: 1.8; }

.iphone {
  position: relative; }

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2; }

.device-media {
  position: absolute;
  width: 87%;
  left: 6.5%;
  z-index: 1;
  top: 2.5%; }

.media-well {
  text-align: center;
  padding: 6em 0; }
  .media-well .iphone {
    margin: 0 auto; }

.heading-label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #3D806E;
  font-size: .85em;
  margin-bottom: 1em; }

.caption {
  padding-top: 1em;
  font-size: 0.9em;
  max-width: 240px;
  color: #6E6D7A; }

.large-text {
  font-size: 1.5em;
  line-height: 1.5;
  display: inline-block; }

code {
  font-family: monospace;
  padding: 3px 6px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px; }

.button-style {
  background: #F5F6F9;
  padding: 3px;
  margin: 0 .3em;
  border-radius: 3px;
  font-size: .8em; }

img.icon {
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: 0 .3em;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: inline-block; }

.keyboard-shortcut {
  font-weight: bold;
  width: 4em;
  display: inline-block; }

.button {
  padding: 1.5em 3em;
  border-radius: 8px;
  display: inline-block;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #383938;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transform: translateY(0px);
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out, border-color 100ms ease-in-out; }
  .button.primary {
    background-color: #111111;
    color: white;
    border-radius: 3em; }
  .button.bordered {
    border: 1px solid #EDEEF3; }
    .button.bordered:hover {
      border-color: #383938; }

.app-store-badge {
  display: inline-block; }

.paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs p {
  text-align: left;
  margin-bottom: 1em; }
.paragraphs h1 {
  font-size: 2.8em;
  margin-bottom: 3em; }
.paragraphs h2 {
  font-size: 2em; }
.paragraphs p {
  margin-bottom: 1em;
  max-width: 640px; }
.paragraphs p + h2 {
  padding-top: 2em; }

.mobile {
  display: block; }

.desktop {
  display: none; }

.centered {
  text-align: center; }

.optional-new-line {
  display: block; }

.mac-screenshot {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.application-frame {
  margin: 0 auto;
  line-height: 0; }
  .application-frame video, .application-frame img {
    width: 100%;
    margin: 0; }

@media screen and (min-width: 768px) {
  .display-flex {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex; }

  .mobile {
    display: none; }

  .desktop {
    display: block; }

  .button {
    padding: 2em 6em; }

  section {
    padding: 6em 0; }

  h1 {
    font-size: 2.8em;
    letter-spacing: -.06em; }

  h2, h3 {
    font-size: 2em;
    letter-spacing: -.04em; }

  p {
    font-size: 1.1em; }

  .mac-screenshot {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); } }
@media screen and (min-width: 1024px) {
  section {
    padding: 10em 0; }

  h1 {
    font-size: 5em; }

  h2, h3 {
    font-size: 2.5em; }

  p {
    font-size: 1.25em; }

  .caption {
    font-size: 0.75em; }

  .mac-screenshot {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); }

  .media-well {
    padding: 8em 0; } }
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 5em; }

  h2, h3 {
    font-size: 3em; }

  p {
    font-size: 1.25em; } }
html,
body {
  color: #6E6D7A;
  font-size: 13px;
  background-color: #FFFFFF;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Helvetica", "Gill Sans", sans-serif;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden; }

body {
  counter-reset: item;
  -webkit-font-smoothing: antialiased; }
  body:before {
    -webkit-font-smoothing: subpixel-antialiased; }

a:link, a:visited {
  text-decoration: none;
  color: #383938; }

a:hover {
  color: #111111; }

/*

         888          888               888
         888          888               888
         888          888               888
 .d88b.  888  .d88b.  88888b.   8888b.  888
d88P"88b 888 d88""88b 888 "88b     "88b 888
888  888 888 888  888 888  888 .d888888 888
Y88b 888 888 Y88..88P 888 d88P 888  888 888
 "Y88888 888  "Y88P"  88888P"  "Y888888 888
     888
Y8b d88P
 "Y88P"

*/
.content-wrapper {
  max-width: 1440px;
  width: 86%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }
  .content-wrapper:after {
    content: "";
    clear: both;
    display: block; }

.left-content h2,
.right-content h2 {
  padding-bottom: 0.5em; }
.left-content h3,
.right-content h3 {
  margin-bottom: 1.5em; }
.left-content > p + p,
.right-content > p + p {
  margin-top: 1.5em; }
.left-content > p + img,
.right-content > p + img {
  margin-top: 2em; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * Homepage
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.introduction {
  background-color: #bff4d2;
  padding: 4em 0 6.4em;
  overflow: visible;
  z-index: 2;
  position: relative; }
  .introduction .iphone {
    width: 80%;
    margin: 4em auto -15.1em; }
  .introduction .application-frame {
    width: 90%;
    margin: 4em auto -15.1em;
    margin-left: 5%; }
    .introduction .application-frame .mac-screenshot {
      border-color: #b1c9b7; }

.intro-text p {
  color: #383938;
  margin: 1em 0 3em; }

.features-intro {
  padding: 22em 0 10em;
  border-bottom: 1px solid #EDEEF3; }

.major-feature,
.highlighted-features {
  text-align: center; }
  .major-feature img.full-width,
  .major-feature .media-well,
  .highlighted-features img.full-width,
  .highlighted-features .media-well {
    margin-top: 3em; }
  .major-feature .media-well .iphone,
  .highlighted-features .media-well .iphone {
    width: 80%; }
  .major-feature .media-well .application-frame,
  .highlighted-features .media-well .application-frame {
    width: 80%; }
  .major-feature h3,
  .highlighted-features h3 {
    margin-bottom: .5em; }
  .major-feature p,
  .highlighted-features p {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.task-creation .media-well {
  background-color: #E8EDF6; }
.task-creation .application-frame {
  width: 25%; }

.today-mode .media-well {
  background-color: #E8E8FF; }
.today-mode .application-frame {
  width: 30%; }

.doo-design img {
  width: 100%; }

.privacy img {
  width: 100%;
  display: block; }
.privacy .global-lock {
  margin: 3em 0 10px; }

.highlighted-features ul {
  padding: 3em 0 1em; }
  .highlighted-features ul li {
    padding: 3em 0 3em 70px;
    position: relative;
    text-align: left;
    line-height: 1.8;
    border-top: 1px solid #EDEEF3; }
    .highlighted-features ul li:first-child {
      border-top: 0; }
    .highlighted-features ul li img {
      position: absolute;
      left: 0;
      top: 3.5em;
      width: 50px; }
    .highlighted-features ul li strong {
      color: #383938;
      font-size: 1.4em;
      margin-bottom: .5em;
      display: block; }

.replay-btn {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -33px;
  background: transparent url("../images/repeat_icon.png") 0px 0.7em no-repeat;
  background-size: 20px auto;
  padding: 1em 0 1em 25px;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
  line-height: 1; }
  .replay-btn.active {
    opacity: 1;
    pointer-events: all; }

.iphone .replay-btn {
  bottom: -4em; }

.application-frame .replay-btn {
  bottom: 2em; }

.press {
  padding-bottom: 10em; }
  .press blockquote {
    font-size: 0;
    text-indent: -9999px;
    background: transparent url("../images/blockquote.png") center no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: calc(100vw * .23); }
  .press cite {
    padding-top: 3em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    color: #B2B2B2;
    width: 100%; }

.press-logos {
  text-align: center;
  padding-top: 3em; }
  .press-logos li {
    display: inline-block;
    width: 50%;
    padding: 2em 0;
    opacity: 0.3; }
    .press-logos li:first-child {
      margin-left: 0; }
    .press-logos li:last-child {
      margin-right: 0; }
    .press-logos li:first-child img {
      height: 30px; }
  .press-logos img {
    height: 20px; }

.conclusion {
  border-top: 1px solid #EDEEF3;
  text-align: center; }
  .conclusion .intro-text {
    margin-left: 0; }
  .conclusion a {
    margin-top: 1em; }
  .conclusion img.full-width {
    padding-top: 3em; }

.platform-recirculation-mac {
  text-align: center;
  background-color: #E8F1FF;
  font-size: 1.3em;
  padding: 3em 0; }
  .platform-recirculation-mac p {
    line-height: 1.4; }
  .platform-recirculation-mac a:link, .platform-recirculation-mac a:visited {
    position: relative;
    font-weight: 600;
    display: block;
    margin-top: .75em;
    font-size: .9em;
    color: #6E6D7A; }
    .platform-recirculation-mac a:link:hover, .platform-recirculation-mac a:visited:hover {
      color: #383938; }

footer {
  background-color: #2F2F2F;
  padding: 3em 0;
  color: white; }
  footer ul {
    margin-bottom: 2em; }
    footer ul li {
      padding: 1em 0; }
      footer ul li:first-child {
        font-weight: 600; }
    footer ul a:link, footer ul a:visited {
      color: #D0D0D0; }
    footer ul a:hover {
      color: white; }
  footer .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2em;
    margin-top: 6em;
    text-align: left; }
    footer .copyright img {
      padding: 1em 0 2em; }
    footer .copyright p {
      line-height: 1.8; }

/*********************************************
 *********************************************
 *********************************************
 *********************************************
 * FAQ + Support
 *********************************************
 *********************************************
 *********************************************
 *********************************************
 */
.faq > li {
  padding: 3em 0;
  border-bottom: 1px solid #EDEEF3; }
  .faq > li:last-child {
    border: 0; }
  .faq > li:first-child {
    padding-top: .2em; }

.question {
  font-size: 1.4em;
  display: block;
  position: relative;
  cursor: pointer;
  padding-right: 2em; }
  .question .arrow {
    position: absolute;
    top: .6em;
    right: 0;
    transform: rotate(0deg);
    transition: transform 00ms ease-in-out;
    width: 14px; }

.answer {
  display: none;
  padding-top: 1em;
  color: #6E6D7A;
  font-size: 1em; }
  .answer li {
    padding: .5em 0;
    position: relative; }
  .answer.bulleted li {
    padding-left: 1em; }
    .answer.bulleted li::before {
      content: "•";
      position: absolute;
      left: 0;
      top: .5em; }
  .answer.numbered {
    counter-reset: numbered-counter; }
    .answer.numbered li {
      padding-left: 2em;
      counter-increment: numbered-counter; }
      .answer.numbered li::before {
        content: counter(numbered-counter);
        position: absolute;
        left: 0;
        top: .5em; }

li.active .question {
  padding-bottom: 1.5em; }

li.active .answer {
  display: block; }

li.active .question .arrow {
  transform: rotate(180deg); }

@media screen and (min-width: 525px) and (max-width: 767px) {
  .introduction {
    padding-top: 6em;
    padding-bottom: 9em; }
    .introduction.mac {
      padding-bottom: 6em; }
    .introduction .iphone {
      margin: 0 -240px 0 0;
      width: 240px;
      position: absolute;
      bottom: -15em;
      right: 50%; }
    .introduction .application-frame {
      margin: 0 -200px 0 0;
      width: 260px;
      position: absolute;
      bottom: -1.5em;
      right: 40%; }

  .intro-text {
    width: 40%; }
    .intro-text p {
      max-width: 340px; }

  .features-intro {
    padding: 10em 0; }

  .major-feature .media-well .iphone,
  .highlighted-features .media-well .iphone {
    width: 45%; }
  .major-feature .media-well .application-frame,
  .highlighted-features .media-well .application-frame {
    width: 50%; } }
@media screen and (min-width: 768px) {
  .left-content {
    width: 25%; }

  .right-content {
    margin-left: 10%;
    flex: 1; }

  .introduction {
    padding: 8em 0 12em; }
    .introduction.mac {
      padding-bottom: 10em; }
    .introduction .iphone {
      margin: 0 -300px 0 0;
      width: 300px;
      position: absolute;
      bottom: -19.5em;
      right: 50%; }
    .introduction .application-frame {
      margin: 0 -350px 0 0;
      width: 350px;
      position: absolute;
      bottom: -5em;
      right: 50%; }
    .introduction .replay-btn {
      bottom: -4em; }

  .intro-text {
    width: 40%; }

  .features-intro {
    padding: 22em 0 20em 0; }

  .major-feature img.full-width,
  .major-feature .media-well,
  .highlighted-features img.full-width,
  .highlighted-features .media-well {
    margin-top: 6em; }
  .major-feature .media-well .iphone,
  .highlighted-features .media-well .iphone {
    width: 32%; }
  .major-feature .media-well .application-frame,
  .highlighted-features .media-well .application-frame {
    width: 50%; }

  .privacy img {
    display: inline-block;
    width: calc(100% / 2 - 8px); }
    .privacy img.global-lock {
      margin: 6em 10px 0 0; }

  .highlighted-features ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 6em 0 2em; }
    .highlighted-features ul li {
      padding: 140px 50px 20px 50px;
      margin-bottom: 4em;
      width: 50%;
      box-sizing: border-box;
      border-left: 1px solid #EDEEF3;
      border-top: 0; }
      .highlighted-features ul li:nth-child(even) {
        padding-right: 0; }
      .highlighted-features ul li img {
        top: 40px;
        width: 70px;
        left: auto; }

  .press {
    padding-bottom: 20em; }

  .press-logos {
    padding-top: 10em;
    width: 100%;
    margin: 0 auto; }
    .press-logos li {
      width: 15%;
      padding: 0 2em;
      box-sizing: border-box;
      vertical-align: middle; }
      .press-logos li img {
        height: 10px;
        display: inline-block;
        vertical-align: middle; }
      .press-logos li:first-child img {
        height: 15px; }

  .conclusion .intro-text {
    width: 100%;
    max-width: 100%; }
  .conclusion img.full-width {
    padding-top: 6em; }

  .platform-recirculation-mac {
    padding: 4em 0; }

  footer {
    padding: 6em 0; }
    footer .content-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
    footer ul {
      width: 20%;
      margin-bottom: 0; }
    footer .copyright {
      border-top: 0;
      padding-top: 0;
      margin-top: 0;
      flex: 1;
      margin-left: 10%;
      font-size: .8em; }
      footer .copyright img {
        padding-bottom: 2em; }

  .answer {
    font-size: 1.1em; } }
@media screen and (min-width: 900px) {
  .press-logos li img {
    height: 25px; } }
@media screen and (min-width: 1024px) {
  .introduction {
    padding: 12em 0 18em; }
    .introduction.mac {
      padding-bottom: 14em; }
    .introduction .iphone {
      margin-right: -380px;
      width: 380px;
      bottom: -27.4em;
      right: 45%; }
    .introduction .application-frame {
      margin-right: -500px;
      width: 500px;
      bottom: -8em;
      right: 50%; }

  .highlighted-features ul li {
    width: 33%; }
    .highlighted-features ul li:nth-child(even) {
      padding-right: 50px; }
    .highlighted-features ul li:nth-child(3), .highlighted-features ul li:nth-child(6) {
      padding-right: 0; }

  .task-creation .media-well .application-frame {
    width: 30%; }

  .today-mode .media-well .application-frame {
    width: 50%; }

  .press-logos li img {
    height: 20px; }

  .answer {
    font-size: 1.25em; } }
@media screen and (min-width: 1280px) {
  .introduction {
    padding-bottom: 12em; }
    .introduction.mac {
      padding-bottom: 16em; }
    .introduction .iphone {
      bottom: -21.4em; }
    .introduction .application-frame {
      margin-right: -560px;
      width: 560px;
      bottom: -8em;
      right: 50%;
      bottom: -10em; }

  .intro-text {
    margin-left: 11.6%; }
    .intro-text p {
      max-width: 270px; }

  .press-logos li img {
    height: 24px; }

  .features-intro p, .features-intro h2 {
    margin-left: 11.6%; } }

/*# sourceMappingURL=styles.css.map */
