li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.optional-new-line {
  display: inline; }

section {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.will-reveal {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px); }

/**
 * No Script States
 */
.no-js .answer {
  display: block; }
.no-js .question .arrow,
.no-js .invisible {
  display: none; }
.no-js .introduction .large-text {
  padding-top: 12em; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

.lazy-load {
  transition: opacity .25s ease-in-out; }

::selection {
  background: #e8ecfb; }

::-moz-selection {
  background: #e8ecfb; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }
  img.full-width {
    width: 100%; }

/** Global Elements **/
section {
  overflow: hidden;
  padding: 4em 0; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1, h2, h3, h4 {
  line-height: 1em;
  color: #383938; }

h1 {
  font-size: 2em;
  line-height: 1em;
  letter-spacing: -.06em;
  font-weight: 600; }

h2, h3 {
  font-size: 1.6em;
  line-height: 1.35em;
  letter-spacing: -.04em; }

p {
  font-size: 1em;
  line-height: 1.8; }

.iphone {
  position: relative; }

.device-bezel {
  width: 100%;
  position: relative;
  z-index: 2; }

.device-media {
  position: absolute;
  width: 86.5%;
  left: 6.9%;
  z-index: 1;
  top: 2.9%; }

.media-well {
  text-align: center;
  padding: 6em 0;
  background-color: #f0f2fa; }
  .media-well .iphone {
    margin: 0 auto; }

.heading-label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #13804B;
  font-size: .85em;
  margin-bottom: 1em; }

.caption {
  padding-top: 1em;
  font-size: 0.9em;
  max-width: 240px;
  color: #6E6D7A; }

.large-text {
  font-size: 1.5em;
  line-height: 1.5;
  display: inline-block; }

code {
  font-family: monospace;
  padding: 3px 6px;
  background: #F5F6F9;
  border-radius: 3px; }

.button-style {
  background: #F5F6F9;
  padding: 3px;
  margin: 0 .3em;
  border-radius: 3px;
  font-size: .8em; }

img.icon {
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: 0 .3em;
  vertical-align: middle;
  background: #F5F6F9;
  border-radius: 3px;
  display: inline-block; }

.keyboard-shortcut {
  font-weight: bold;
  width: 4em;
  display: inline-block; }

.app-store-badge {
  transform: scale3d(1, 1, 1);
  transition: transform 200ms ease-in-out; }
  .app-store-badge:hover {
    transform: scale3d(1.05, 1.05, 1); }

.button {
  padding: 2em 4em;
  border-radius: 8px;
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #6E6D7A;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transform: translateY(0px);
  transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out, border-color 100ms ease-in-out, color 100ms ease-in-out; }
  .button.download {
    border: 0;
    background: #F5F6F9;
    padding: 1.5em 3em; }
    .button.download:hover {
      background: #e6e9f6; }
  .button.primary {
    background-color: #111111;
    color: white;
    border-radius: 3em; }
  .button.bordered {
    border: 1px solid #EDEEF3;
    color: #6E6D7A; }
    .button.bordered:hover {
      color: #383938;
      border-color: #383938; }

.app-store-badge {
  display: inline-block; }

.paragraphs h1, .paragraphs h2, .paragraphs h3, .paragraphs p {
  text-align: left;
  margin-bottom: 1em; }
.paragraphs h1 {
  font-size: 2.8em;
  margin-bottom: 3em; }
.paragraphs h2 {
  font-size: 2em; }
.paragraphs p {
  margin-bottom: 1em;
  max-width: 640px; }
.paragraphs p + h2 {
  padding-top: 2em; }

.mobile {
  display: block; }

.desktop {
  display: none; }

.centered {
  text-align: center; }

.optional-new-line {
  display: block; }

.mac-screenshot {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.application-frame {
  margin: 0 auto;
  line-height: 0; }
  .application-frame video, .application-frame img {
    width: 100%;
    margin: 0; }

.features-list h1 .block {
  display: block;
  color: #B2B2B2; }

.orange {
  background: #E7C8B4; }

.cream {
  background: #F7F1D4; }

.forest-green {
  background: #CEEAD0; }

.green {
  background: #C3F5DD; }

.light-green {
  background: #DBFFEF; }

.light-warm-blue {
  background: #DCEFF4; }

.warm-blue {
  background: #C7DEF0; }

.cool-blue {
  background: #D2DAF3; }

.light-blue {
  background: #E7EFFF; }

.blue {
  background: #BBCAFF; }

.light-purple {
  background: #D2D8FF; }

.purple {
  background: #D1CAFA; }

.cool-gray-purple {
  background: #DFDBF9; }

.gray-purple {
  background: #EFE5FD; }

.salmon {
  background: #FFDFEF; }

.pink {
  background: #F9CFE4; }

@media screen and (min-width: 768px) {
  nav {
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    position: fixed; }

  body {
    padding-top: 78px; }

  .display-flex {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex; }

  .mobile {
    display: none; }

  .desktop {
    display: block; }

  .button {
    font-size: .9em; }

  section {
    padding: 6em 0; }

  h1 {
    font-size: 3.5em;
    letter-spacing: -.04em; }

  h2, h3 {
    font-size: 2em;
    letter-spacing: -.04em; }

  p {
    font-size: 1.1em; }

  .mac-screenshot {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); } }
@media screen and (min-width: 1024px) {
  section {
    padding: 10em 0; }

  h1 {
    font-size: 5em; }

  h2, h3 {
    font-size: 2.5em; }

  p {
    font-size: 1.25em; }

  .caption {
    font-size: 0.75em; }

  .mac-screenshot {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); }

  .media-well {
    padding: 8em 0; } }
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 6em; }

  h2, h3 {
    font-size: 3em; }

  p {
    font-size: 1.25em; } }

/*# sourceMappingURL=utilities.css.map */
